<div class="container">
	<h2 style="color: #be0e0e;">Informazioni per l'utilizzo dei coupon</h2>
	<p>
		I coupon, che sono dei codici alfanumerici, equivalgono a un valore economico in euro che darà diritto 
		a uno sconto o alla gratuità per l’acquisto di uno spettacolo o dell’intero abbonamento.
	</p>
	<p>
		<strong>I valori e la validità dei coupon sono variabili</strong> e dipendono dalla convenzione di riferimento o dal fatto che siano omaggi. 
		In alcuni casi possono essere utilizzati da un unico utente, in altri da più utenti, a volte sono validi fino a tutta la 
		durata della stagione (fino al 31 marzo 2022) in altri hanno durata limitata. 
	</p>
	<p>Gli spettacoli possono essere visti tramite Computer, Tablet e Smartphone. Per visualizzarli tramite TV è possibile collegarsi tramite Chromecast - 
		o tramite cavetto al proprio computer.</p>
	<p>
		Come utilizzare i coupon: 
		<ul>
			<li>una volta registrati come <strong>utente</strong> sulla piattaforma <strong>www.invitro.coop</strong> (tutti gli utenti devono registrarsi per 
				poter accedere ai servizi) sarà possibile accedere all’acquisto degli spettacoli;</li>
			<li>la registrazione è molto rapida e richiede solo pochi dati: <strong>nome / cognome e indirizzo mail</strong>;</li>
			<li>una volta scelto lo spettacolo da vedere si apre un modulo per il pagamento: a questo punto è necessario inserire
				 il <strong>codice COUPON nel campo indicato</strong>, nella parte di modulo PAY PER VIEW, e cliccare il bottone <strong>USA</strong>;</li>
			<li><strong>il codice coupon equivale a un valore non a uno spettacolo</strong>: inserito il codice il costo dello spettacolo o dell’abbonamento, viene azzerato o scontato;</li>
			<li>alla pagina dedicata <strong><a href="https://www.invitro.coop/page/come-funziona">“Come funziona”</a></strong>  si trovano tutte le indicazioni su come procedere. Nello specifico gli 
				step n. 5 e 6 sono quelli relativi al pagamento, che nel caso del coupon implica l’inserimento del codice nel campo dedicato;</li>
			<li>la visualizzazione di ogni spettacolo può essere <strong>fatta partire fino a 3 volte;</strong></li>
			<li>gli spettacoli non possono essere visualizzati contemporaneamente su più device ed è sempre meglio fermare una visione per farne partire altre;</li>
			<li>ogni volta che si accede alla piattaforma, per visualizzare gli spettacoli o l’abbonamento acquistato è necessario effettuare il <strong>LOG IN</strong> al proprio <strong>PROFILO</strong>
				(a meno che il proprio device non lo memorizzi automaticamente);</li>
			<li>una volta entrati con i propri dati utente, per far partire altre visualizzazioni si consiglia di andare alla pagina <strong>“Cronologia degli acquisti”</strong>, 
				presente nel proprio profilo, e selezionare lo spettacolo acquistato;</li>
			<li>tutti gli spettacoli, a scelta dell’utente, sono provvisti della funzione <strong>sottotitoli</strong>.</li>
		</ul>
	</p>
	<p>
		Per eventuali chiarimenti tecnici l’indirizzo <a href="mailto:help@invitro.coop">help@invitro.coop</a> è a disposizione e risponde entro 24h.
	</p>
	<p>
	<strong>Vi auguriamo una buona visione!</strong>
	</p>
</div>
