<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
    <h2 style="color: #be0e0e;">Come Funziona</h2>
    <p>
        Pochi semplici passi per accedere ad Invitro. <br>
        Se qualcosa andasse storto. <a href="/it/contactus">Contattaci</a> o scrivici a <a href="mailto:help@invitro.coop">help@invitro.coop</a>
    </p>
	<p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/1_1618331760.jpg">
	</p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/2_1618331770.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/3_1618331783.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/4_1618331794.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/5_1618331803.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/6_1618331820.jpg">
    </p>
</div>