<div class="container">
    <h2 style="color: #be0e0e;">Cookie policy Invitro</h2>
    <p><span style="font-weight: 400;">La presente </span><b>Informativa sui cookie </b><span style="font-weight: 400;">descrive il modo in cui raccogliamo, utilizziamo e comunichiamo ad altri i tuoi </span><b>Dati Personali</b><span style="font-weight: 400;"> (di seguito, i &ldquo;</span><b>Dati</b><span style="font-weight: 400;">&rdquo;) per offrirti il servizio di teatro on demand (di seguito, il &ldquo;</span><b>Servizio</b><span style="font-weight: 400;">&rdquo;) sul sito web </span><a href="http://www.invitro.coop"><span style="font-weight: 400;">www.invitro.coop</span></a><span style="font-weight: 400;"> (di seguito, il &ldquo;</span><b>Sito</b><span style="font-weight: 400;">&rdquo;) </span><b>tramite l&rsquo;utilizzo di cookie</b><span style="font-weight: 400;">.</span></p>
    <p><b>Cosa sono i cookie</b></p>
    <p><span style="font-weight: 400;">I cookie sono piccoli pacchetti di dati (file) che vengono generalmente memorizzati sul tuo dispositivo quando navighi e usi siti e servizi on-line.</span></p>
    <h2 style="color: #be0e0e;"></h2>
    <p><span style="font-weight: 400;">Utilizziamo queste tecnologie per svariati motivi: ad esempio, per facilitare l&rsquo;accesso al Servizio ricordando l&rsquo;utente al suo ritorno; per fornire, analizzare, comprendere e migliorare l&rsquo;utilizzo del Servizio; per prevenire le frodi; per migliorare le prestazioni del Sito o per monitorare il traffico e le azioni degli utenti sul nostro Sito; per analizzare le interazioni degli utenti con le pagine dei Teatri e dei nostri sponsor (terze parti).</span></p>
    <h2 style="color: #be0e0e;"></h2>
    <p><span style="font-weight: 400;">I cookie possono essere:</span></p>
    <ul>
    <li style="font-weight: 400;"><b>cookie essenziali</b><span style="font-weight: 400;">: questi cookie sono indispensabili per il nostro Sito e per la fornitura dei servizi on-line. Ad esempio, noi e i nostri Fornitori di servizi possiamo utilizzare questi cookie per verificare l&rsquo;identit&agrave; dei nostri utenti quando utilizzano il Sito e le relative applicazioni, di modo da poter fornire loro un servizio ottimale;</span></li>
    <li style="font-weight: 400;"><b>cookie tecnici</b><span style="font-weight: 400;">: utilizziamo questi cookie al solo fine di effettuare la trasmissione di una comunicazione su una rete di comunicazione elettronica o nella misura strettamente necessaria al fornitore di un servizio della societ&agrave; dell&rsquo;informazione per erogare il Servizio. Questi cookie non vengono utilizzati per scopi ulteriori e sono normalmente installati dal gestore del Sito;</span></li>
    <li style="font-weight: 400;"><b>cookie funzionali e di performance</b><span style="font-weight: 400;">: questi cookie ci aiutano a personalizzare e migliorare la tua esperienza on-line sul nostro Sito. Ad esempio, ci aiutano ad evitare che tu debba inserire nuovamente le informazioni che ci hai gi&agrave; fornito (ad esempio durante la fase di registrazione). Utilizziamo i cookie anche per raccogliere informazioni statistiche (quali sono le pagine pi&ugrave; cliccate, i contenuti pi&ugrave; visti, etc.) sull'utilizzo del Servizio da parte dei nostri utenti, cos&igrave; da ottimizzare i contenuti. L'eliminazione di questi tipi di cookie pu&ograve; determinare limitazioni ad alcune funzionalit&agrave; del Sito.</span></li>
    </ul>
    <p><b>Per le tipologie di cookie descritte sopra, non &egrave; richiesto il preventivo consenso degli utenti alla loro installazione.</b></p>
    <p><span style="font-weight: 400;">Altri tipi di cookie sono:</span></p>
    <ul>
    <li style="font-weight: 400;"><b>cookie analytics</b><span style="font-weight: 400;">: per monitorare e migliorare le prestazioni del nostro Sito potremmo avvalerci di un prodotto di mercato di analisi statistica per la rilevazione degli accessi al Sito. Questo strumento utilizza cookie sia permanenti sia non permanenti, allo scopo di raccogliere informazioni statistiche sulle abitudini dei visitatori del Sito;</span></li>
    <li style="font-weight: 400;"><b>cookie di profilazione</b><span style="font-weight: 400;">: i cookie di profilazione hanno lo scopo di creare profili dell&rsquo;utente e vengono, di norma, utilizzati per inviare messaggi pubblicitari in linea con le preferenze manifestate dall&rsquo;utente nell'ambito della navigazione in rete;</span></li>
    <li><b>cookie di "terze parti&rdquo;:</b><span style="font-weight: 400;"> visitando il nostro Sito si potrebbero ricevere cookie da siti gestiti da altre organizzazioni (cosiddette "terze parti").</span></li>
    </ul>
    <p><span style="font-weight: 400;">I cookie delle &ldquo;terze parti&rdquo; vengono impostati da un sito web diverso da quello che l&rsquo;utente sta visitando. Questo perch&eacute; su ogni sito possono essere presenti elementi (immagini, mappe, suoni, specifici link a pagine web di altri domini, social botton, etc.) che risiedono su server diversi da quello del sito visitato.</span></p>
    <p><span style="font-weight: 400;">La gestione delle informazioni raccolte da "terze parti" &egrave;, quindi, disciplinata dalle relative informative, cui si prega di fare riferimento.</span></p>
    <p><b>Questi tipi di cookie devono essere specificamente approvati dall&rsquo;utente.</b></p>
    <h2 style="color: #be0e0e;"></h2>
    <p><b>Quali cookie utilizza il nostro Sito</b></p>
    <p><span style="font-weight: 400;">Con riferimento alle tipologie di cookie sopra descritti, il nostro Sito utilizza i seguenti cookie, con le relative caratteristiche e tempi di conservazione:</span></p>
    <h2 style="color: #be0e0e;"></h2>
    <table style="width:400px;border: 1px solid black;">    <tbody>
    <tr>
    <td>
    <p><b>Nome del cookie</b></p>
    </td>
    <td>
    <p><b>Tipologia</b></p>
    </td>
    <td>
    <p><b>Durata</b></p>
    </td>
    </tr>
    <tr>
    <td>__gat</td>
    <td>Analytics</td>
    <td>10 minuti</td>
    </tr>
    <tr>
    <td>_ga</td>
    <td>Analytics</td>
    <td>2 anni</td>
    </tr>
    <tr>
    <td>_gid</td>
    <td>Analytics</td>
    <td>1 giorno</td>
    </tr>
    <tr>
    <td>_stripe_sid</td>
    <td>Terze parti</td>
    <td>30 min</td>
    </tr>
    <tr>
    <td>_strip_mid</td>
    <td>Terze parti</td>
    <td>1 anno</td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </tbody>
    </table>
    <p><b>Gestione dei cookie</b></p>
    <p><span style="font-weight: 400;">L&rsquo;utente pu&ograve;, in ogni caso, decidere se accettare o meno i cookie utilizzando le impostazioni del proprio browser, ma tenendo conto che la disabilitazione totale o parziale dei cookie tecnici potrebbe compromettere l&rsquo;utilizzo ottimale del Sito.</span></p>
    <p><span style="font-weight: 400;">La disabilitazione dei cookie analytics e dei cookie di &ldquo;terze parti&rdquo; non pregiudica in alcun modo la navigabilit&agrave;.</span></p>
    <p><span style="font-weight: 400;">Si rinvia alla documentazione facilmente reperibile sul web per le istruzioni su come impostare le regole di gestione dei cookie per il proprio browser.</span></p>
    
    <p><span style="font-weight: 400;">Vi auguriamo una buona navigazione sul nostro Sito.</span></p>
    
    <p><b>Ultimo aggiornamento:</b><span style="font-weight: 400;"> 12 aprile 2021</span></p>
    </div>