<div class="container">
    <h2 style="color: #be0e0e;">Invitro Cookie Policy</h2>
<p>This <strong>Cookie Policy</strong> describes how we collect, use and disclose your <strong>Personal Data</strong> (hereinafter, the “Personal Data”) to offer you the theatre on 
    demand service (hereinafter, the <strong>“Service”</strong>), through the website www.invitro.coop (hereinafter, the “Website”), through the use of Cookies.</p>

<p><strong>What are cookies?</strong></p>
<p>
    Cookies are small data packets (files) that are generally stored on your device when you browse and use websites and on-line services.<br>
We use these technologies for various reasons, such as to: facilitate access to the Service, by remembering a returning user; to provide, analyse, understand and improve 
use of the Service; to prevent fraud; to improve the services of the Website and to monitor traffic and the actions of users of our Website; to analyse interactions of 
users with the pages of the Theatres and of our sponsors (third parties).
</p>
<p>The cookies may be:</p>
<ul>
<li><strong>essential cookies</strong>: these cookies are necessary for our Website and for the supply of on-line services. For instance, these cookies might be used by us and by our 
service providers to check the identity of our users when they use the Website and the relative applications, in order to provide them with an optimal service;</li>
<li><strong>technical cookies</strong>: we use these cookies simply to transmit a communication on an electronic communication network, or to the extent the information is strictly necessary 
to the provider of a service to the company. These cookies are not used for any other purposes and are normally installed by the operator of the Website.</li>
<li><strong>functional and performance cookies</strong>: these cookies held us to customise and improve your on-line experience on our Website. 
For instance, they help us to avoid you having to re-enter information you have already provided to us (during registration, for example). 
We also use cookies to collect statistical information (such as clicked pages, most viewed content, etc.) on use of the Service by our users, in order to optimise the content. 
Elimination of these cookies could limit several of the Website’s functions.</li>

<p><strong>Users’ prior consent to installation is not required for the cookie types described above</strong>.</p>

<p>Other types of cookie are:</p>
<ul>
<li><strong>analytics cookies</strong>: in order to monitor and improve the performance of our Website, we might use a statistical market analysis product to detect accesses to the Website. 
This tool uses both persistent and non-persistent cookies to collect statistical information on the habits of visitors to the Website;</lI>
<li><strong>profile cookies</strong>: these cookies are used to create user profiles and are normally used to send advertising messages that correspond with the preferences shown by 
that user while browsing;</li>
<li><strong>“third-party” cookies</strong>: when you visit our Website, you could receive cookies from websites operated by other organisations (so-called "third parties").</li>
</ul>
<p>“Third-party” cookies are set by a different website to the one that the user is visiting. This is because there may be elements present on each website 
    (images, maps, sounds, specific links to web pages of other domains, social buttons, etc.) that reside on different servers to the one of the website visited.</p>
Management of information collected by “third parties” is therefore governed by the relative information, to which reference should be made.</p>
<p><strong>These types of cookie must be specifically approved by the user.</strong></p>
<p><strong>The cookies used by our Website</strong></p>
<p>With reference to the cookie types described above, our Website uses the following cookies, with the related characteristics and storage times:</p>
<table style="width:400px;border: 1px solid black;">    <tbody>
    <tr>
    <td>
    <p><b>Cookie name</b></p>
    </td>
    <td>
    <p><b>Type</b></p>
    </td>
    <td>
    <p><b>Duration</b></p>
    </td>
    </tr>
    <tr>
    <td>__gat</td>
    <td>Analytics</td>
    <td>10 minutes</td>
    </tr>
    <tr>
    <td>_ga</td>
    <td>Analytics</td>
    <td>2 years</td>
    </tr>
    <tr>
    <td>_gid</td>
    <td>Analytics</td>
    <td>1 day</td>
    </tr>
    <tr>
    <td>_stripe_sid</td>
    <td>third-party</td>
    <td>30 min</td>
    </tr>
    <tr>
    <td>_strip_mid</td>
    <td>third-party</td>
    <td>1 year</td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    </tbody>
    </table>
<p><strong>Management of cookies</strong></p>
<p>The user may, in any case, decide whether or not to accept the cookies, using their own browser settings, but remembering that disabling all or some of the technical 
cookies could undermine optimal use of the Website.</p>
<p>Disabling analytics cookies and “third-party” cookies does not affect browsing in any way.</p>
<p>Documentation is easily available on the Internet containing instructions on how to manage cookie settings for your own browser.<p>
<p>Enjoy browsing our Website.</p>
<strong>Most recent update</strong>: 12 April 2021
</div>