<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
<p><strong>Invitro - teatro on demand è una stagione teatrale on demand: sette spettacoli, messi in scena appositamente da sette teatri cooperativi lombardi, disponibili online e fruibili attraverso computer, smartphone e tablet</strong>. Gli utenti scelgono se acquistare gli accessi per una singola opera teatrale oppure l’intero abbonamento (7 spettacoli) online per la durata della stagione (6 mesi).</p>
<p>Invitro è un <strong>esperimento cooperativo</strong> al quale hanno aderito i teatri milanesi <strong>Teatro dell’Elfo, Teatro del Buratto, MTM Manifatture Teatrali Milanesi, Teatro Menotti, Teatro della Cooperativa, Teatro Magro di Mantova e Industria Scenica di Vimodrone</strong>.Il progetto è nato nell’ambito delle iniziative di innovazione digitale promosse da Fondazione Pico, Digital Innovation Hub di Legacoop, e nello specifico dal nodo territoriale di Pico Lombardia, con Legacoop Lombardia e Coopservizi, in collaborazione con partner appartenenti al mondo cooperativo lombardo: Genera, Gnucoop, Hagam,Multimagine e Smart.</p>
<center>
<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/_W5A9371_1618068556.jpg">
<br><br>
</center>
<p>I Teatri Cooperativi Lombardi (e non solo) vivono da tempo una situazione economicamente complicata a causa di diversi fattori, che l’emergenza sanitaria ha accentuato. <strong>Invitro vuole essere uno strumento utile per affrontare il presente e, al contempo, un’occasione per ripensare il futuro.</strong> </p>
<p>Nella visione a lungo termine - dopo la fase Invitro, di sperimentazione - c’è la costituzione di una piattaforma teatrale cooperativa permanente dove i Soci saranno i teatri, i partner e gli utenti, sviluppata attraverso una proposta di stagioni teatrali online allargando il modello a livello nazionale.<br>
Alla piattaforma è abbinata una <strong>campagna di raccolta fondi a favore dei lavoratori dello spettacolo</strong> (il 5% sugli incassi - vendita di spettacoli e abbonamenti, sponsorizzazioni).</p>
<center>
<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/_W5A7695_1618068541.jpg">
</center>
</div>
