<img class="banner"
    src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/public/system/posters/878920/original/invitro-season_1618069442.jpg">
<div class="container">
    <h2 style="color: #be0e0e;">CREDITS</h2>
    <p>Production and general coordination: <strong>Coopservizi</strong> <br> Production manager: Paola
        Leati<br> Production assistant: Veronica Cavaliere</p>
    <p>Video adaptation: <strong>Multimagine</strong><br>Production: Luigi Corsetti<br> Camera operators: Raffaele
        Parma, Luigi Pezzoli, Stefano Zonca<br> Sound: Dario Filippi<br> Live editing and direction: Massimo Mannucci <br>
        Titles and subtitles: Alessandro Zambetti</p>
    <p>Web production: <strong>Gnucoop nerds</strong></p>
    <p>Communication: <strong>Hagam</strong><br> Communication manager: Gianluca Gibilaro<br> Project manager: Sarah Marseglia<br> Assistant: Letizia Bosello<br> Copywriter e art director: Stefano Melli, Cecilia
        Valsecchi</p>
    <p>Press office: Alessandra Paoli</p>
    <p>Backstage photography: Giulia Gibilaro</p>
    <p>Legal consultancy: Carmen Leo, Alessandro Ronchi</p>
</div>