<img class="banner"
    src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/public/system/posters/878920/original/invitro-season_1618069442.jpg">
<div class="container">
    <h2 style="color: #be0e0e;">CREDITS</h2>
    <a href="/it/credits-english">English version</a><br><br>
    <p>Produzione e coordinamento generale: <strong>Coopservizi</strong> <br> Responsabile della produzione: Paola
        Leati<br> Assistente alla produzione: Veronica Cavaliere</p>
    <p>Adattamento video: <strong>Multimagine</strong><br>Produzione: Luigi Corsetti<br> Operatori alle camere: Raffaele
        Parma, Luigi Pezzoli, Stefano Zonca<br> Fonico: Dario Filippi<br> Regia live ed edizione: Massimo Mannucci <br>
        Titoli e sottotitoli: Alessandro Zambetti</p>
    <p>Produzione web: <strong>Gnucoop nerds</strong></p>
    <p>Comunicazione: <strong>Hagam</strong><br> Responsabile della comunicazione: Gianluca Gibilaro<br> Project
        manager: Sarah Marseglia<br> Assistente: Letizia Bosello<br> Copywriter e art director: Stefano Melli, Cecilia
        Valsecchi</p>
    <p>Ufficio stampa: Alessandra Paoli</p>
    <p>Fotografia backstage: Giulia Gibilaro</p>
    <p>Consulenza legale: Carmen Leo, Alessandro Ronchi</p>
</div>