<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano-sulla-luna_invitro_header_1617726007.jpg">

<div class="container">
	<div style="display: flex;">
		<div class="leftcol">
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Cyrano_1618066367.jpg">
		</div>

		<div>
			<h2>Cyrano sulla Luna</h2>
			<a class="red-underline" href="/mtm"><b>Manifatture Teatrali Milanesi</b></a>

			<br><br>
			Durata: 1h15m<br><br>

			<p>
			Abbiamo preso Cyrano, quello del naso, quello dell’apostrofo rosa tra
			le parole ti e amo, quello di Rossana, il poeta spadaccino, e l’abbiamo
			mandato sulla Luna. Lui ha sempre sognato di andarci, lassù. Ora
			che è morto da poco, le sue parole ancora sfi orano l’eco dell’aria... e
			fi nalmente è arrivato lì. Lei, la Luna, non lo riconosce e fa domande
			bambine: che cos’è il teatro? E la verità? Cos’è il vento? Hai amato
			davvero?
			</p>

			<p>
			A riascoltarla così, questa storia, non sembra nemmeno la stessa. A
			riannodare il fi lo tessuto dalle parole, una per una... Le parole, appunto.
			Quante parole, in amore.
			</p>

			<p>
			Cyrano ripercorre tutta la sua storia, naviga lieve nella memoria e
			ricorda, dimentica, rivive. In scena c’è solo lui, Cyrano; gli altri sono
			fantasmi, ombre, guizzi di luce. A fargli compagnia c’è una luce di
			Luna, una Terra azzurra immersa nel buio da spiare da lontano, e le
			sue parole.
			</p>

			<br>

			<a class="red-button" href="/invitro">Play!</a>

			<img class="locandina" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Cyrano_1618066367.jpg">

			<h2>Crediti</h2>
			<p>
			di Luca Chieregato<br>
			regia Luca Chieregato, Pietro De Pascaliscon Pietro De Pascalis<br>
			scene e costumi Anna Bertolottidisegno luci Monica Gorla<br>
			consulenza musicale Gipo Gurrado<br>
			produzione <a style="text-decoration: underline;" href="/mtm">MTM Manifatture Teatrali Milanesi</a>
			</p>
		</div>
	</div>

	<div style="text-align: center;">
		<h2>Immagini dal Palco</h2>
		<hr class="redhr">
		
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano1_1617726205.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano1_1617726205.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano2_1617726216.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano2_1617726216.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano3_1617726226.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano3_1617726226.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano4_1617726236.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano4_1617726236.jpg">
		</a>
	</div>
	<div style="text-align: center;">
		<h2>Contenuti Extra</h2>
		<hr class="redhr">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/1Oby_kS6zFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
