<div class="container">
    <h2 style="color: #be0e0e;">Dicono di noi</h2>
    <h3 style="color: #be0e0e;">Rassegna stampa</h3>
    <a href="https://flipbookpdf.net/web/site/b2a4c9c402b8c28067de51386d8107b074b6aaaf202106.pdf.html" target="_blank">Sfoglia la rassegna stampa</a>
	<div style="text-align: center;">
		<h2>In evidenza </h2>
		<hr class="redhr">
		
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_CorrieredellaSera_200_1624600778.png"> 
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_CorrieredellaSera_200_1624600778.png"> 
		</a> 
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210420_LaRepubblica_200_1624600949.png"> 
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210420_LaRepubblica_200_1624600949.png"> 
		</a> 
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_GazzettadiMantova_200_1624600972.png"> 
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_GazzettadiMantova_200_1624600972.png">
		</a> 
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_EcodiBergamo_200_1624600988.png"> 
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_EcodiBergamo_200_1624600988.png"> 
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_LaProvinciaPavese_200_1624601005.png"> 
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210415_LaProvinciaPavese_200_1624601005.png"> 
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210420_Leggo_200_1624601025.png"> 
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/20210420_Leggo_200_1624601025.png"> 
		</a>
	</div>
</div>

