<div class="container">
	<h2>Didattica</h2>
	<h3>PROPOSTA PER LE SCUOLE SECONDARIE DI II GRADO 
		settembre 2021 – marzo 2022</h3>
		<h4>Teatro on demand: uno strumento a supporto dell’educazione civica
		</h4>
	<p>
		Da settembre 2020 è stata introdotta nelle scuole l’insegnamento di educazione civica: una disciplina trasversale che ruota 
		intorno a tre nuclei tematici principali: 
		<ul>
			<li>Costituzione e diritti.</li>
			<li>Sviluppo sostenibile</li>
			<li>Cittadinanza digitale</li>
		</ul>
		Gli spettacoli e temi trattati:
		<ul>
			<li>Mary, una sarta per Shakespeare (Teatro dell’Elfo - elfo.org): Teatro nel teatro e Diritti delle donne</li>
			<li>Nome di Battaglia Lia (Teatro della Cooperativa - teatrodellacooperativa.it): Diritti delle donne e Resistenza</li>
			<li>Cyrano sulla Luna (MTM Manifatture Teatrali Milanesi- mtmteatro.it): Poesia, Teatro, Bullismo</li>
			<li>Far finta di essere sani di G. Gaber e S. Luporini (Teatro Menotti - teatromenotti.org): La Musica del signor G. e la Partecipazione civile</li>
			<li>SN|1604 – Corpo Celeste (Teatro Magro – teatromagro.com) Scoperta dello Spazio e Astronomia</li>
			<li>WEBulli (Industria Scenica - industriascenica.com): Social Media e Cyber bullismo</li>
		</ul>
	</p>
	<p>
		Considerando “la <strong>trasversalità dell’insegnamento di educazione civica</strong>, che vuole assumere la valenza di matrice valoriale trasversale che va 
		coniugata con le discipline di studio, per sviluppare processi di interconnessione tra saperi disciplinari ed extradisciplinari,” tutti gli 
		spettacoli della stagione on line possono offrire <strong>un’occasione per attività di approfondimento su importanti tematiche culturali e sociali</strong>, 
		offrendo anche lo spunto per un dibattito all’interno delle classi.
	</p>

	<p>
		In particolare, da un lato “Nome di battaglia Lia” rientra nel macro-argomento della <strong>Costituzione</strong> e la promozione dei principi di legalità 
		e la tutela dei diritti, così come “Mary, una sarta per Shakespeare”, in cui si parla dei diritti delle donne; dall’altro “WEBulli” portando 
		in scena i social media mettendo a fuoco il fenomeno del cyber bullismo, approfondisce uno degli aspetti più importanti della <strong>cittadinanza digitale</strong>.
	</p>

	<h3>PROPOSTA - CONVENZIONE</h3>
	<p>Visti i contenuti culturali e sociali degli spettacoli di Invitro, che offre una nuova modalità di fruizione di temi spesso affrontati nell’ambito della didattica, 
		si propone alle Scuole Secondarie di II Grado la possibilità di usufruire di tariffe agevolate per i propri alunni.</p>
	
		<h4>1)CLASSI IN PRESENZA / VISIONE DI GRUPPO: </h4>
	<p>
		Qualora i docenti o i dirigenti scolastici ritenessero d’interesse, nell’ambito delle attività didattiche e culturali, 
		la visione di <strong>uno degli spettacoli di Invitro</strong>, per le <strong>classi in presenza</strong>, quindi con visione di gruppo dello spettacolo 
		tramite PC collegato a schermo, tramite un unico utente, si propone <strong><u>l’accesso allo spettacolo a 30,00 euro</u></strong> (l’equivalente di 5 biglietti al netto 
		dello sconto/convenzione di 2,00 euro l’uno, al di là del numero di alunni presenti in ogni classe). Il docente / la scuola <strong>riceve <u>n. 5
		codici/coupon</u> di accesso gratuito a uno spettacolo</strong> l’invio di 5 codici ha lo scopo di garantire una corretta visualizzazione anche in 
		caso di interruzioni – sia per motivi tecnici di collegamento, sia per momenti di approfondimento didattico. Lo spettacolo potrà essere
		fatto partire <strong>fino a 3 volte</strong> dallo stesso utente, per ogni codice inserito.
	</p>
	<h4>2) DIDATTICA A DISTANZA / VISIONE AUTONOMA:</h4>
	<p>Se invece si sceglie di far vedere lo spettacolo in modo autonomo <strong>agli studenti da casa</strong>, sarà necessario che ogni studente si registri come utente 
		alla piattaforma. In questo caso si propongono due soluzioni: 
	</p>
	<ul>
		<li><strong>2A) acquisto dei biglietti scontati da parte degli alunni</strong><br>
			I docenti potranno comunicare ai propri alunni un <strong><u>Codice Convenzione</u></strong> (assegnabile alla singola classe o all’intero Istituto) che 
			darà diritto a uno <strong><u>sconto del 50% sul prezzo del biglietto per uno spettacolo</u></strong> (da 8,00 euro a 4,00 euro). 
			Il docente / la scuola riceve <strong><u>n. 1 codice/coupon di accesso scontato per uno spettacolo</u><strong></strong> da inviare a tutti gli alunni 
			destinatari della proposta didattica. Una volta registrati gli alunni potranno acquistare l’accesso allo spettacolo con uno sconto del 50%, 
			applicando il codice/coupon di sconto convenzionato. Lo spettacolo potrà essere fatto partire fino a 3 volte dallo stesso utente. 
		</li>
		<li>
			<strong>2_B) acquisti dei biglietti scontati da parte della scuola</strong>
			<br>
			In questo caso <strong><u>l’acquisto dei biglietti / accessi viene effettuato dalla scuola</u></strong>, al prezzo di <strong><u>euro 4,00 cad.</u></strong> 
			(invece di 8,00), che invierà ad ogni alunno un codice univoco per l’accesso gratuito a uno spettacolo.  
			Il docente / la scuola <strong>riceve un numero di codici/coupon di accesso gratuito, per uno spettacolo, equivalente al numero di biglietti/accessi acquistati. </strong>
			Lo spettacolo potrà essere fatto partire <strong>fino a 3 volte</strong> dallo stesso utente.	
		</li>
	</ul>
	<p>
		<strong>I Codici /coupon </strong> non sono collegati al singolo titolo ma al valore dell’acquisto: il titolo viene selezionato una volta registrato 
		utente e acquistato (in questo caso inserendo il codice/coupon sarà o gratuito o scontato del 50% ).
	</p>
	<p><strong>Accessibilità</strong>: tutti gli spettacoli sono sottotitolati in Italiano (funzione a scelta dell’utente)</p>
	<p><strong>Note</strong>: 
		<ul>
			<li>tutti i prezzi s’intendono IVA inclusa;</li>
			<li>per le proposte descritte ai punti 1 e 2_B è possibile pagare tramite bonifico bancario e ricevere fattura 
				dettagliata da Coopservizi S.C.C., gestore della piattaforma; </li>
			<li>per gli acquisti al punto 2_B) la transazione avverrà on line con carta di credito con emissione di ricevuta di pagamento.</li>
		</ul>
	</p>
	<p>
		Per attivare una convenzione e per maggiori informazioni scrivere a: <a href="mailto:info@invitro.coop">info@invitro.coop</a>
	</p>
</div>
