<div class="container">
	<h2>Didattica</h2>

	<p>
		In tutti gli spettacoli di Invitro sono presenti contenuti e temi trasversali
		che attraversano e uniscono gli spettacoli tra loro, offrendo agli utenti la
		possibilità di un percorso non solo artistico, ma anche culturale e sociale.
	</p>
	<p>
		Alcuni dei contenuti trasversali:
	</p>
	<p>
		Bullismo e cyber bullismo<br>
		La scoperta dello Spazio<br>
		Teatro nel teatro<br>
		Diritti delle donne<br>
		Musica dal vivo<br>
		Musica Rock<br>
		Filmati storici
	</p>
	<p>
		Considerando i temi culturali e sociali trattati negli spettacoli della stagione on demand,
		di cui alcuni particolarmente rilevanti per i giovani, Invitro propone alle Scuole
		secondarie di primo e secondo grado sconti dedicati.
	</p>
	<p>
		Per maggiori informazioni: <a href="mailto:info@invitro.coop">info@invitro.coop</a>
	</p>
</div>
