<div class="container">
    <h2 style="color: #be0e0e;">Domande frequenti</h2>
    <h3>Oh no! Hai già acquistato questo contenuto precedentemente!</h3>
    Vai sulla <a style="color:red" href="/it/user/PurchaseHistory">pagina dei tuoi acquisti</a> e clicca sullo spettacolo/abbonamento acquistato.
	<h3>Cosa è Invitro?</h3>
    Invitro è una piattaforma teatrale on demand:gli spettacoli, messi in scena appositamente da teatri cooperativi lombardi e disponibili fino al 31 marzo 2022.
	<h3>Quanto costa Invitro?</h3>
    Ogni spettacolo costa 8€. L'abbonamento a tutti gli spettacoli 30€.
    <h3>Dove posso guardare Invitro?</h3>
    Per guardare gli Spettacoli di Invitro è necessario avere la connessione internet a banda larga, adatta allo streaming multimediale, un computer, un portatile, tablet o smartphone con installato 
    un browser di ultima generazione (Chrome, Safari, Firefox, Edge).<br>
    Se hai a disposizione una <a href="https://it.wikipedia.org/wiki/Chromecast">chromecast</a>, puoi guardare il video sul tuo televisore.
    <h3>Cosa posso guardare su INVITRO?</h3>
    7 spettacoli teatrali dei teatri cooperativi lombardi. Vai alla pagina <a href="/it/invitro">INVITRO</a> per vedere la lista degli spettacoli.
    <h3>Posso regalare un abbonamento a Invitro?</h3>
    Certo, per fare un regalo scrivi a <a href="mailto:info@invitro.coop">info@invitro.coop</a> e ti daremo tutte le informazioni. 
    <h3>Devo installare un app sul mio tablet o smartphone?</h3>
    Non è necessaria nessuna app. Invitro è una piattaforma web adatta alla visualizzazione su qualunque dispositivi con connessione a internet e browser di ultima generazione.
    <h3>Posso installare l'app sulla mia smartTV?</h3>
    Al momento non è disponibile l'app INVITRO su nessuna piattaforma TV.
    <h3>Fino a quando è disponibile Invitro?</h3>
    Tutti gli spettacoli sono disponibili per la visione fino al 30 Marzo 2022
    <h3>Posso scaricare gli spettacoli e vedere offline?</h3>
    Al momento non è possibile guardare gli spettacoli offline.
    <h3>Quante volte posso guardare Invitro?</h3>
    Ogni spettacolo acquistato può essere fatto partire per la visualizzazione massimo 3 volte. Per maggiori informazioni, consulta i <a href="/it/termini-del-servizo">termini del servizio</a>
    <h3>Come posso pagare su Invitro?</h3>
    E' possibile acquistare utilizzando una comune carta di credito VISA, Mastercard e American Express. 
</div>