<h2>Far Finta di Essere Sani</h2>
<a class="red-underline" href="/teatro-menotti"><b>Teatro Menotti</b></a>

<br><br><br>

<p>
Sono passati quasi 50 anni, ma lo spettacolo del signor G è ancora
terribilmente d’attualità. Stupisce e rincuora il fatto che Gaber sia
riuscito ad anticipare i tempi, a raccontare la realtà come pochi altri al
mondo, ma – allo stesso tempo – di andare oltre.
</p>

<p>
Una versione in forma di concerto dello spettacolo Far fi nta di essere
sani di Giorgio Gaber, monologhi e canzoni per riscoprire quel percorso
narrativo con cui Gaber e Luporini nel 1973 affrontavano i temi universali
del disagio sociale e generazionale, puntando l’attenzione sull’essere
schizoide dell’uomo contemporaneo. Da una parte pronto agli slanci
ideali, dall’altra tenuto a terra dal proprio egoismo e dai fi nti bisogni
materiali. Temi e contenuti quanto mai attuali in questo tempo post
Covid.
</p>

<p>
Sul palcoscenico Andrea Mirò, artista eclettica come pochissimi altri
in Italia e Enrico Ballardini, attore, musicista e cantautore. Le musiche
sono arrangiate dalla travolgente band Musica da Ripostiglio, presente
da anni sui palchi dei festival di jazz e sui palcoscenici teatrali di tutta
Italia.
</p>

<br><br>

<a class="red-button" href="/invitro">Play!</a>
