<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/far-finta-di-essere-sani_invitro_header_1617779305.jpg">

<div class="container">
	<div style="display: flex;">
		<div class="leftcol">
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Menotti_1618066415.jpg">
		</div>

		<div>
			<h2>Far Finta di Essere Sani</h2>
			<a class="red-underline" href="/teatro-menotti"><b>Teatro Menotti</b></a>

			<br><br>
			Durata: 1h<br><br>

			<p>
			Sono passati quasi 50 anni, ma lo spettacolo del signor G è ancora
			terribilmente d’attualità. Stupisce e rincuora il fatto che Gaber sia
			riuscito ad anticipare i tempi, a raccontare la realtà come pochi altri al
			mondo, ma – allo stesso tempo – di andare oltre.
			</p>

			<p>
			Una versione in forma di concerto dello spettacolo Far fi nta di essere
			sani di Giorgio Gaber, monologhi e canzoni per riscoprire quel percorso
			narrativo con cui Gaber e Luporini nel 1973 affrontavano i temi universali
			del disagio sociale e generazionale, puntando l’attenzione sull’essere
			schizoide dell’uomo contemporaneo. Da una parte pronto agli slanci
			ideali, dall’altra tenuto a terra dal proprio egoismo e dai fi nti bisogni
			materiali. Temi e contenuti quanto mai attuali in questo tempo post
			Covid.
			</p>

			<p>
			Sul palcoscenico Andrea Mirò, artista eclettica come pochissimi altri
			in Italia e Enrico Ballardini, attore, musicista e cantautore. Le musiche
			sono arrangiate dalla travolgente band Musica da Ripostiglio, presente
			da anni sui palchi dei festival di jazz e sui palcoscenici teatrali di tutta
			Italia.
			</p>

			<br>

			<a class="red-button" href="/invitro">Play!</a>

			<br><br>

			<h2>Crediti</h2>
			<p>
			In concerto<br>
			in collaborazione con la Fondazione Giorgio Gaber<br>
			con Andrea Mirò, Enrico Ballardini e i Musica da Ripostiglio<br>
			di Giorgio Gaber e Sandro Luporini<br>
			adattamento e regia Emilio Russo<br>
			produzione TieffeTeatro
			</p>
		</div>
	</div>

	<div style="text-align: center;">
		<h2>Immagini dal Palco</h2>
		<hr class="redhr">
		
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Menotti_001_1617779773.jpeg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Menotti_001_1617779773.jpeg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Menotti_002_1617779783.jpeg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Menotti_002_1617779783.jpeg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Menotti_003_1617779792.jpeg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Menotti_003_1617779792.jpeg">
		</a>
	</div>
</div>
