<div class="container">
    <h2 style="color: #be0e0e;">Frequent Asked Questions</h2>
    <h3>Oh no! You have already purchased this content!</h3>
    Go to the <a style="color:red" href="/it/invitro">INVITRO page</a> and click on the show you want to see..
	<h3>What is Invitro?</h3>
    Invitro is a theatre on demand platform: seven shows, performed specially by seven cooperative theatres of the Lombardy region and available up until 30 September 2021.
	<h3>How much does Invitro cost?</h3>
    Each show costs 8€. The subscription to all the shows costs 30€.
    <h3>Where can I watch Invitro?</h3>
    In order to watch the Invitro shows, you need a broadband Internet connection that is suitable for multimedia streaming, a computer, a laptop, tablet or smartphone 
    with a latest generation browser installed (Chrome, Safari, Firefox, Edge). If you have a <a href="https://en.wikipedia.org/wiki/Chromecast">chromecast</a> device, you can watch the video on your television.<br>
    <h3>What can I watch on INVITRO?</h3>
    Seven theatre shows performed by cooperative theatres in Lombardy. Go to the page to see the <a href="/it/invitro">INVITRO</a> shows.
    <h3>Can I buy a gift for someone else?</h3>
    Yes, you may write at this e-mail and we’ll send you a GIFT – COUPON for the subscription to the season. You may pay by credit card or by bank transfer. 
    We’ll give you all the instructions in private by e-mail.
    <h3>Do I need to install an app on my tablet or smartphone?</h3>
    No app is needed. Invitro is a web platform suitable for watching on any device with an Internet connection and a latest generation browser.
    <h3>Can I install the app on my smartTV?</h3>
    The INVITRO app is not currently available on any TV platform.
    <h3>For how long is Invitro available?</h3>
    All the shows are available for viewing up until 30 September 2021
    <h3>Can I download the shows and watch them offline?</h3>
    It is not currently possible to watch the shows offline.
    <h3>How many times can I watch the Invitro shows?</h3>
    Each show can be viewed a maximum of three times. For further information, consult the <a href="/it/terms-of-service">terms and conditions of service</a>
    <h3>How do I pay on Invitro?</h3>
    You can purchase using a normal VISA, Mastercard and American Express credit card.
</div>