<div class="container" style="padding-top: 30px; padding-bottom: 30px;">
    <h2 style="color: #be0e0e;">How it works</h2>
    <p>
        Few simple steps to access to Invitro <br>
        If something goes wrong, <a href="/it/contactus">Contact us</a> o write to <a href="mailto:help@invitro.coop">help@invitro.coop</a>
    </p>
	<p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/1_english_1621857810.jpg">
	</p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/2_english_1621856886.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/3_english_1621856907.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/4_english_1621856916.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/5_english_1621856926.jpg">
    </p>
    <p>
        <img class="contentimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/6_english_1621856935.jpg">
    </p>
</div>