<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-IS_1617883523.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/industriascenica_1617955431.png">
			&nbsp; Industria Scenica
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		Industria Scenica nasce nel 2012 con l’idea di progettare e realizzare percorsi che
        integrano le arti performative con il sociale, la formazione con lo sviluppo personale e
        ricreativo del singolo e della collettività. Negli anni è rimasta coerente con il suo
        percorso, creando progetti di drammaturgia di comunità e producendo spettacoli
        teatrali a partire da tematiche sociali. Per farlo si serve di uno spazio storico e
        alternativo, una balera rigenerata situata nel centro storico di Vimodrone (MI).
	</p>
	<p>
		<b>L’Everest - Spazio alla Cultura</b> dal 2014 ospita una Stagione Teatrale e una Stagione
        di Teatro Scuola, è una delle sedi del Centro di Residenza “Intercettazioni” di Regione
        Lombardia e offre ai cittadini serate danzanti, corsi e laboratori, mostre e seminari.
	</p>
	<p>
		Industria Scenica, inoltre, lavora su progetti di peer e media education, percorsi di
        formazione teatrale e video, visite di tourism theatre. Nel 2018, la compagnia di
        Industria Scenica, Elea Teatro, è stata riconosciuta dal MiBACT come impresa di
        produzione teatrale under 35 grazie al progetto SHARE3.
	</p>
	<p style="text-align: center;">
		<br>
		<b>Industria Scenica presenta:</b><br>
		<a class="linkspettacolo" href="/webulli">WEBulli</a>
	</p>
</div>
