<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/janis_invitro_header_1617779316.jpg">

<div class="container">
	<div style="display: flex;">
		<div class="leftcol">
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Janis_1618066401.jpg">
		</div>

		<div>
			<h2>Janis - Take Another Little Piece of My Heart</h2>
			<a class="red-underline" href="/teatro-del-buratto"><b>Teatro del Buratto</b></a>

			<br><br>
			Durata: 1h<br><br>

			<p>
			Take another little piece of my heart è un viaggio alla scoperta di
			una delle più grandi figure del rock and roll, Janis Joplin, seguendo
			l’intuizione che a cinquant’anni dalla sua scomparsa possa essere
			un’interlocutrice straordinaria per le nuove generazioni.
			</p>

			<p>
			Sulla scena un’attrice e un attore evocano, in un dialogo metateatrale,
			il mondo della Joplin attraverso articoli, pagine intime di diario, lettere
			e ovviamente musica. Lo sguardo non è tanto però storiografico,
			quanto connesso al contemporaneo. Janis appare come un emblema
			dell’adolescenza, smontando il mito di eccessi e sregolatezze della
			rockstar dalla voce inarrivabile per riconsegnarlo a una dimensione
			più umana. Una teenager di straordinario talento che, coltivando il
			desiderio di essere vista e amata dal mondo, corre il rischio di essere
			fagocitata tanto dal mercato, quanto dai propri eccessi.
			</p>

			<p>
			Una little girl blue che, nel suo sapersi incamminare verso il futuro con
			incertezza e speranza, con rischio e desiderio, sembra l’avanguardia
			di ogni gioventù.
			</p>

			<br>

			<a class="red-button" href="/invitro">Play!</a>

			<img class="locandina" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Janis_1618066401.jpg">

			<h2>Crediti</h2>
			<p>
			Ideazione: Luca Cecchelli<br>
			Testo, video e regia: Davide del Grosso<br>
			Luci: Marco Zennaro<br>
			In scena: Marta Mungo e Davide del Grosso<br>
			Direttore di produzione: Franco Spadavecchia
			</p>
		</div>
	</div>

	<div style="text-align: center;">
		<h2>Immagini dal Palco</h2>
		<hr class="redhr">
		
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/janis1_1617780252.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/janis1_1617780252.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/janis2_1617780264.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/janis2_1617780264.jpg">
		</a>
	</div>
</div>
