<h2>Mary, una Sarta per Shakespeare</h2>
<a class="red-underline" href="/teatro-dell-elfo"><b>Teatro dell'Elfo</b></a>

<br><br><br>

<p>
Il testo è ambientato all’epoca di Elisabetta I d’Inghilterra. C’è grande
attesa per il nuovo spettacolo di Sir William Shakespeare in scena al
Globe, il famoso teatro di Londra. Il più grande interprete del teatro
elisabettiano, Mr Goodwin, è appena entrato in scena tra le ovazioni
del suo adorante pubblico. Dietro le quinte resta la sua sarta tuttofare,
Mary, il cui sogno è interpretare la parte di Giulietta, che ormai conosce
a memoria, pur sapendo che non lo potrà mai fare perché è una donna,
e le donne non possono recitare.
</p>

<p>
Attraverso lo sguardo ironico e scanzonato di Mary, Elena Russo
Arman offre agli spettatori un modo diverso di scoprire il gioco teatrale,
i mestieri di chi sta “dietro le quinte”, la magia del palcoscenico. È un
testimone privilegiato che, da un punto di osservazione particolare
- un camerino ingombro di oggetti di scena - rievoca i più celebri
successi del Bardo, le cui storie fanno sognare da secoli spettatori di
tutto il mondo e di tutte le età.
</p>

<br><br>

<a class="red-button" href="/invitro">Play!</a>
