<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-mtm_1617883542.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/mtm_1617955441.png">
			&nbsp; Manifatture Teatrali Milanesi
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		La Fondazione Palazzo Litta per le Arti Onlus è nata nel 2009 da alcuni soci della
		Cooperativa Teatro Litta – Teatro degli Eguali, che gestiva tutta l’attività teatrale e di
		spettacolo del Teatro Litta. La Cooperativa, nello specifico, era titolare di tutti i
		contributi economici e i rapporti con le Istituzioni: Ministero dello Spettacolo, Regione
		Lombardia, Provincia di Milano, Comune di Milano. Nel 2012 la Fondazione è
		diventata titolare presso tutte le Istituzioni locali e nazionali dei contributi economici e
		i rapporti che prima erano della vecchia Cooperativa Teatro Litta – Teatro degli Eguali,
		fondata nel 1976 da Gaetano Callegaro, oggi unico rimasto dei soci storici, che nel
		2018 ha lasciato la Presidenza della Fondazione a Gaia Calimani. Nel 2015 la
		Fondazione ha rilevato tutta l’attività di spettacolo e di formazione della Cooperativa
		Quelli di Grock di Milano, unendo così due poli produttivi molto importanti del sistema
		teatrale di Milano, entrambi operanti da 40 anni a livello locale e nazionale. Da quella
		data la Cooperativa QDG è stata messa in liquidazione e i soci che ne facevano parte
		sono diventati soci partecipanti della Fondazione e soci della Teatro Litta Cooperativa
		Sociale Teatro degli Eguali Onlus, continuando a svolgere le loro attività di formazione
		e spettacolo e mantenendo la loro linea produttiva artistica.
	</p>
	<p>
		<b>La nascita di MTM</b><br>
		Tale unione ha generato un progetto artistico denominato MANIFATTURE TEATRALI
		MILANESI – abbreviato in MTM – che non è in alcun modo un soggetto giuridico.
		Tutta l’attività culturale e di spettacolo di MTM continua a essere gestita direttamente
		dalla Fondazione Palazzo Litta per le Arti Onlus, che ha in carico i rapporti con tutte le
		Istituzioni locali e nazionali preposte al settore cultura e spettacolo. Sempre nel 2015
		la vecchia Cooperativa Teatro Litta-Teatro degli Eguali è stata trasformata in Teatro
		Litta Cooperativa Sociale Teatro degli Eguali Onlus con lo scopo di organizzare e
		gestire economicamente tutta l’attività di formazione di MTM: dalla storica compagnia
		Quelli di Grock, oggi Grock Scuola di Teatro in via Muzio a Milano ai Corsi di Teatro
		del Teatro Litta. MTM è un progetto artistico e operativo aperto che vuole inaugurare a
		Milano un nuovo percorso e nuove modalità per produrre cultura e spettacolo dal
		vivo. Tra il 2016 e il 2018 MTM ha accolto in residenza la storica Compagnia Corrado
		d’Elia e ha iniziato una stretta collaborazione con Paolo Scotti, che è sfociata nel suo
		inserimento all’interno del team di MTM in qualità di responsabile artistico del Teatro
		Leonardo.
	</p>
	<p>
		<b>I Teatri di MTM</b><br>
		MTM svolge il suo programma di spettacoli e iniziative culturali in 3 sale teatrali
		cittadine: Il Teatro Leonardo in Piazza Leonardo da Vinci, il Teatro Litta e la Sala la
		Cavallerizza in corso magenta 24, diventando così unico esempio a Milano – insieme
		al Piccolo Teatro – di multisala teatrale con una dislocazione in differenti distretti
		urbani della città.
	</p>
	<p>
		<b>La filosofia, in breve</b><br>
		La filosofia di MTM è quella di essere principalmente un progetto artistico aperto nato
		per incentivare e mettere in atto un reale e fattivo lavoro di equipe, inaugurando un
		nuovo modello organizzativo economico di produzione, gestione e promozione che
		vuole far confluire i saperi e le poetiche di singoli soggetti produttori in MTM,
		conservando l’originalità e la mission culturale di ogni singolo soggetto.
	</p>
	<p>
		Il progetto è nato per creare sinergie con altri poli produttivi storici della città e
		rappresentare un possibile futuro per quanti vogliano condividere e/o associare in
		MTM il proprio operato artistico e organizzativo. Allo stesso modo MTM sponsorizza
		una nuova idea di cura artistica del programma di spettacoli e dei progetti affidando le
		scelte di programmazione a un tavolo di responsabili artistici (Gaetano Callegaro,
		Valeria Cavalli, Antonio Syxty) ai quali si aggiungono i curatori di HORS – House Of
		The Rising Sun (Filippo Renda e Stefano Cordella) e produzione di spettacoli per le
		nuove generazioni (Claudio Intropido). MTM rappresenta una novità storica nel
		panorama del sistema teatrale milanese perché guarda al futuro, all’allargamento delle
		fasce di pubblico alle quali rivolgersi, alla pluralità dei linguaggi, delle culture, delle
		poetiche, integrando in un sistema virtuoso le economie di singoli soggetti e progetti
		che altrimenti esaurirebbero il loro percorso perseverando in un’ostinata solitudine, in
		un contesto economico globale sempre meno favorevole.
	</p>
	<p>
		Per scoprirne di più:
		<a target="_blank" href="https://www.youtube.com/watch?v=WolQo60xAEE&t=5s">https://www.youtube.com/watch?v=WolQo60xAEE&t=5s</a>
	</p>
	<p style="text-align: center;">
		<br>
		<b>Manifatture Teatrali Milanesi presenta:</b><br>
		<a class="linkspettacolo" href="/cyrano-sulla-luna">Cyrano sulla Luna</a>
	</p>
</div>
