<h2>Nome di Battaglia Lia</h2>
<a class="red-underline" href="/teatro-della-cooperativa"><b>Teatro della Cooperativa</b></a>

<br><br><br>

<p>
All’interno della grande pagina della Resistenza, il quartiere di Niguarda
a Milano e le donne dei suoi cortili ebbero un ruolo particolare. Niguarda
si liberò il 24 aprile 1945, con un giorno di anticipo sul resto d’Italia.
</p>

<p>
E fu proprio in quel giorno che si consumò uno degli episodi più tragici
della liberazione della città: colpita al ventre da una raffi ca di mitra
di un gruppo di nazisti in fuga, moriva – incinta di otto mesi – Gina
Galeotti Bianchi, nome di battaglia “Lia”, una delle fi gure più importanti
del Gruppo di Difesa della Donna. Quest’ultimo vantava a Milano ben
quarantamila aderenti, di cui oltre tremila attiviste: assisteva i militari
abbandonati da un esercito allo sbando; aiutava economicamente le
famiglie in cui il marito, o il padre, era nei lager o in carcere; era parte
integrante dei Gruppi Volontari della Libertà e del comitato cittadino
del C.L.N.; organizzava manifestazioni; forniva staffette; stampava “Noi
Donne”, un foglio clandestino precursore del movimento femminista.
</p>

<p>
Nome di battaglia Lia nasce da un attento lavoro di ricerca e raccolta di
testimonianze dirette del nostro recente passato: Renato Sarti costruisce
un testo che, usando le parole di Lia e delle sue compagne di lotta,
racconta degli eroismi anonimi delle donne, in una realtà quotidiana
fatta di famiglie da accudire nella fame e nelle malattie, senza però
dimenticare quelle “piccole cose” che in quegli anni bui rendevano più
lieve la vita.
</p>

<br><br>

<a class="red-button" href="/invitro">Play!</a>
