<div class="container">
    <h2 style="color: #be0e0e;">Invitro Data Protection Policy</h2>
    <p>This Data Protection Policy describes how we collect, use and disclose your Personal Data (hereinafter, the “Personal Data”) to offer you the theatre on 
        demand service (hereinafter, the “Service”), through the website www.invitro.coop (hereinafter, the “Website”).
    </p>
    
    <h3>Contacts</h3>
    If you have questions about your Account registered on the Website or on how we use your data, write to us at <a href="mailto:info@invitro.coop">info@invitro.coop</a><br>
    Your data is stored and protected by Coopservizi S.C.C., with registered office in Milan (MI), at Viale Edoardo Jenner 17, tax code and VAT number 01815830151, as the Controller.
    <h3>The Personal Data we collect and why we collect it</h3>
    In order to provide you with the Service, we receive and store the following information on you:
    <ul>
        <li>information you personally provide to us<br>
            your first name, surname and e-mail address.
        </li>
    </ul>
    We collect this information through the “Register” page or the form on the “Contact us” page of the Website;
    <ul>
        <li>information collected automatically
        </li>
    </ul>
    We might collect information on you and the way you use our Service, your interactions with us and with our sponsors, and also technical information on 
    your network, your network devices, your computer or other mobile devices you use to access our Service, through the cookies installed on the Website. 
    To learn more about how we use this information, please read our <a href="/it/cookie-policy-english">cookie policy</a>.

    <h3>How and why we use your Personal Data</h3>
    <p></p>We will use your Personal Data solely and exclusively to provide you with the Service (through the “Register” and “Log in” sections), 
    to analyse and improve the Service over time, based on your user experience, and to manage any reports we receive from you through the 
    form in the “Contact us” section of the Website. </p>
    <p>We might also use your Personal Data to send you information about our Service, such as additional information on the Shows, the Theatres or any other cultural events 
    or initiatives associated with and/or similar to the “Invitro” project.</p>
    <p>If you do not wish to receive this type of information, just send us an e-mail and we will stop sending these communications.</p>
    <p>The Personal Data that we do ask you to provide is therefore essential for us to offer the Service you request. Without it, we cannot satisfy your request, as it 
    is the data needed to fulfil the contract.</p>
    
    <h3>Whom we share your data with</h3>
    
<p>In order to offer you the Service, we have to disclose your Personal Data to several external suppliers (hereinafter, the “Service providers”) who provide us with support, 
    in your interest, in supplying certain technical and administrative services, in order to offer you the best service possible.</p>
For example, we use Service Providers for:
<ul>
    <li>storage of your registration data;</li>
    <li>management of the Service payment methods.</li> 
</ul>
<p>In performing their duties, these Service Providers have access to certain of your Personal Data and we have therefore authorised them to use it, 
    but solely in accordance with our instructions, so they use this Personal Data only for the purpose of providing these services to you.</p>
<p>We and our Service Providers may also have to disclose your Personal Data to other parties, when this is necessary in order to (a) comply with laws, 
    legal procedures or requests of public authorities; (b) implement the applicable General Terms and Conditions of Service; (c) identify, prevent or otherwise manage 
    unlawful acts or those presumed to be such (including payment fraud), security or technical problems; (d) perform activities to safeguard our own or third-party rights 
    from damage, as required or permitted by law.</p>
<p>Please remember that the plugins of social networks and similar technologies allow you to share your Personal Data, but these plugins and social applications are 
    managed by the social networks themselves and are subject to their terms and conditions of use and data protection policies, which we invite you to consult.</p>
<p><strong>The storage period of your Personal Data</strong></p>
<p>We may store your Personal Data up until the end of the period of Service (31 March 2022) and for up to one year after its conclusion, on evidentiary grounds.</p>
<p>However, we could be forced to store certain of your Personal Data for lengthier periods, if this is required by law, also in relation to payment, 
    invoicing and accounting transactions.</p>
<p>When your Personal Data is no longer necessary for the purposes described here above, we adopt every reasonable measure and protection to destroy it or 
    to prevent its identification in any case.</p>
<p><strong>The security of your Personal Data</strong></p>
<p>We adopt all administrative, technical, physical and operational measures to protect your Personal Data against loss, theft or unauthorised access, 
    use and alteration. These measures have been organised to provide a level of protection that is proportionate to the risks involved in processing your Personal Data.</p>
<p><strong>Minors</strong></p>
<p>As specified in our General Terms and Conditions of Service, you have to be at least 14 years of age to register on our Website.</p>
<p>If you are under 14 years of age, you can only use our Service with the supervision and approval of a parent or guardian.</p>
<p><strong>Your rights</strong></p>
<p>You can ask for access to your Personal Data, or for it to be rectified or updated, at any time. You may also ask for your Personal Data in our possession to be erased.<br>
To do so, write to us at <a href="mailto:info@invitro.coop">info@invitro.coop</a>
</p>
<p>You also have the right to object to processing of your Personal Data, to ask us to restrict its processing and to data portability. 
    If we have collected and processed your Personal Data with your consent, you can withdraw consent at any time, although please remember that this will not affect 
    the lawfulness of processing based on consent before its withdrawal, nor will it affect our processing of your Personal Data based on legal grounds other than your consent.</p>
<p>If you are not satisfied with how we process your Personal Data, please write to us at <a href="mailto:info@invitro.coop">info@invitro.coop</a></p>
<p>If we are unable to satisfy your request, you have the right to lodge a complaint with the Data Protection Supervisory Authority, through the website 
    <a href="www.gpdp.it">www.gpdp.it</a>.</p>
<p><strong>Amendments to this Data Protection Policy</strong></p>
<p>Partly in consideration of the nature of the Invitro project as a “cooperative experiment”, we reserve the right to update this Personal Data Protection Policy 
    on the basis of new needs and/or processing that we may introduce over time or following changes in legislation.</p>
<p>If you do not wish to recognise or accept the amendments we make to this Personal Data Protection Policy, you can cancel your registration on the Website at any time.</p>

<strong>Most recent update:</strong> 12 April 2021

    </div>
