<div class="container">
	<h2>PROMOTORI</h2>
	<h3>FONDAZIONE PICO</h3>
	Fondazione PICO &egrave; il Digital Innovation Hub per la trasformazione digitale cooperativa, riconosciuto dal Network impresa 4.0 del Ministero dello Sviluppo Economico (MiSE); &egrave; un progetto di Legacoop realizzato con il contributo di Coopfond.<br>
	<h3>PICO LOMBARDIA</h3>
	PICO Lombardia &egrave; il Nodo territoriale della Fondazione di riferimento per imprese, cooperative e stakeholder della regione.<br>
	<h3>LEGACOOP LOMBARDIA</h3>
	&Eacute; la struttura regionale di Legacoop, associazione che, da oltre 135 anni, riunisce oltre quindicimila imprese cooperative, attive in tutte le regioni e settori per creare sviluppo,mettendo al centro persone e territorio. L&rsquo;associazione promuove la cultura cooperativa sostenendo il protagonismo economico, sociale e civile delle imprese cooperative aderenti e il loro modello di sviluppo sostenibile.<br>
	<h3>COOPSERVIZI</h3>
	Societ&agrave; di consulenza aziendale che si rivolge principalmente a imprese ed enti cooperativi. &Egrave; nata nel 1974 nell&rsquo;ambito del sistema di Legacoop Lombardia.<br><br>
	<h2>PARTNER TECNICI</h2>
	<h3>GNUCOOP</h3>
	Gnucoop sviluppa applicazioni web e mobile per aiutare le organizzazioni non-profit a gestire facilmente le loro informazioni e i loro dati.<br>
	<h3>HAGAM</h3>
	Impresa di comunicazione, sviluppa progetti di comunicazione unendo competenze, tecnologie, ascolto del cliente e dei mutamenti culturali.<br>
	<h3>MULTIMAGINE</h3>
	Azienda di Bergamo che si occupa di ripresa, produzione e montaggio video.<br><br>
	<h2>PARTNER DI PROGETTO</h2>
	<h3>GENERA</h3>
	Genera &egrave; una societ&agrave; che investe in imprese che operano nell&rsquo;ambito dell&rsquo;innovazione e dell&rsquo;economia cooperativa.<br>
	<h3>SMART</h3>
	Societ&agrave; mutualistica per artisti, &egrave; aperta a tutti: freelance, artisti visivi, lavoratori dello spettacolo, musicisti.
</div>
