<div class="container">
    <h2 style="color: #be0e0e;">PROMOTORI</h2>
    <strong><a target=_blank href="https://pico.coop" class="red-underline">FONDAZIONE PICO</a></strong><br><br>
    Fondazione PICO &egrave; il Digital Innovation Hub per la trasformazione digitale cooperativa, riconosciuto dal
    Network impresa 4.0 del Ministero dello Sviluppo Economico (MiSE); &egrave; un progetto di Legacoop realizzato con
    il contributo di Coopfond.<br> <br><strong><a target=_blank href="https://lombardia.pico.coop/"
            class="red-underline">PICO LOMBARDIA</a></strong><br><br>PICO Lombardia &egrave; il Nodo territoriale della
    Fondazione di riferimento per imprese, cooperative e stakeholder della regione.<br><br> <strong><a target=_blank
            href="https://www.legacooplombardia.it/" class="red-underline">LEGACOOP
            LOMBARDIA</a></strong><br><br>&Eacute; la struttura regionale di Legacoop, associazione che, da oltre 135
    anni, riunisce oltre quindicimila imprese cooperative, attive in tutte le regioni e settori per creare
    sviluppo,mettendo al centro persone e territorio. L&rsquo;associazione promuove la cultura cooperativa sostenendo il
    protagonismo economico, sociale e civile delle imprese cooperative aderenti e il loro modello di sviluppo
    sostenibile.<br><br> <strong><a target=_blank href="https://www.coopservizi.com"
            class="red-underline">COOPSERVIZI</a></strong><br><br> Societ&agrave; di consulenza aziendale che si rivolge
    principalmente a imprese ed enti cooperativi. &Egrave; nata nel 1974 nell&rsquo;ambito del sistema di Legacoop
    Lombardia.<br><br>
    <h2 style="color: #be0e0e;">PARTNER TECNICI</h2>
    <strong><a target=_blank href="https://www.gnucoop.com" class="red-underline">GNUCOOP</a></strong><br><br>Gnucoop
    sviluppa applicazioni web e mobile per aiutare le organizzazioni non-profit a gestire facilmente le loro
    informazioni e i loro dati.<br><br> <strong><a target=_blank href="https://www.hagam.it"
            class="red-underline">HAGAM</a></strong><br><br> Impresa di comunicazione, sviluppa progetti di
    comunicazione unendo competenze, tecnologie, ascolto del cliente e dei mutamenti culturali.<br><br> <strong><a
            target=_blank href="https://www.multimagine.it"
            class="red-underline">MULTIMAGINE</a></strong><br><br>Azienda di Bergamo che si occupa di ripresa,
    produzione e montaggio video.<br><br>
    <h2 style="color: #be0e0e;">PARTNER DI PROGETTO</h2>
    <strong><a target=_blank href="http://www.generaimprese.it/" class="red-underline">GENERA</a></strong><br><br>Genera
    &egrave; una societ&agrave; che investe in imprese che operano nell&rsquo;ambito dell&rsquo;innovazione e
    dell&rsquo;economia cooperativa.<br><br> <strong><a target=_blank href="https://smart-it.org/"
            class="red-underline">SMART</a></strong><br><br>Societ&agrave; mutualistica per artisti, &egrave; aperta a
    tutti: freelance, artisti visivi, lavoratori dello spettacolo, musicisti.</strong>
</div>