<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/SN-1604-corpo-celeste_invitro_header_1617779348.jpg">

<div class="container">
	<div style="display: flex;">
		<div class="leftcol">
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Magro1_1618321988.jpg">
		</div>

		<div>
			<h2>SN | 1604 Corpo Celeste</h2>
			<a class="red-underline" href="/teatro-magro"><b>Teatro Magro</b></a>

			<br><br><br>
			Durata: 50 minuti<br><br>
			<p>
			Nell’universo sono emersi molti fenomeni affascinanti: mostruosi
			buchi neri del peso di un miliardo di soli che mangiano le stelle e
			vomitano getti di gas; stelle di neutroni che ruotano su se stesse mille
			volte al secondo, la cui materia è compressa a un miliardo di tonnellate
			per centimetro cubo; particelle subatomiche così inafferrabili che
			potrebbero penetrare anni luce di piombo solido; onde gravitazionali
			il cui flebile passaggio non lascia alcuna impronta percettibile.
			</p>

			<p>
			Un punto microscopico brilla, poi un altro, poi un altro: è l’impercettibile,
			è l’enorme. Questo lumicino è un focolare, una stella, un sole, un
			universo; ma questo universo è niente. Ogni numero è zero di fronte
			all’infinito. L’inaccessibile unito all’impenetrabile, l’impenetrabile
			unito all’inesplicabile, l’inesplicabile unito all’incommensurabile:
			questo è il cielo. In un universo infinito, qualsiasi cosa possa essere
			immaginata potrebbe esistere da qualche parte. Nulla-Tutto si crea,
			si distrugge, si trasforma.<br>
			Di fronte al mare stupito dallo stupore.<br>
			Io.<br>
			Un universo di atomi.<br>
			Un atomo nell’universo.
			</p>

			<br>

			<a class="red-button" href="/invitro">Play!</a>

			<img class="locandina" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Magro1_1618321988.jpg">

			<h2>Crediti</h2>
			<p>
				regia Flavio Cortellazzi<br>
				con Elia Grassi<br>
				scenografie, musiche, costumi <a style="text-decoration: underline;" href="/teatro-magro">Teatro Magro</a><br>
				video e allestimento tecnico Zero Beat<br>
				grafica e foto Barbara Rondini<br>
				consulenza scientifica e distribuzione Alkémica Cooperativa Sociale onlus<br>
				con il contributo di Fondazione Cariplo<br>
				produzione Pantacon
				regia | Flavio Cortellazzi<br>
				con | Elia Grassi<br>
				a cura di | <a style="text-decoration: underline;" href="/teatro-magro">Teatro Magro</a> e Zero Beat<br>
				costumi | Teatro Magro<br>
				luci | Fabio Dorini<br>
				fonico | Andrea Manicardi<br>
				video e proiezioni | Matteo Codognola e Roberto Pavani<br>
				si ringrazia | Fondazione Cariplo<br>
				consulenza scientifica | Alkemica Società Cooperativa<br>
				ufficio stampa | Silvia Cortellazzi<br>
				responsabile promozione | Fabio Dorini<br>
				organizzazione | Kati Gerola<br>
				responsabile biglietteria | José Andrès Tarifa Pardo<br>
				grafica | Barbara Rondini<br>
				amministrazione | Vanessa Dalla Ricca<br>
				produzione | Pantacon
			</p>
		</div>
	</div>

	<div style="text-align: center;">
		<h2>Immagini dal Palco</h2>
		<hr class="redhr">
		
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste1_1617786574.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste1_1617786574.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste2_1617786584.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste2_1617786584.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste3_1617786603.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste3_1617786603.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste4_1617786613.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste4_1617786613.jpg">
		</a>
	</div>
</div>
