<h2>SN | 1604 Corpo Celeste</h2>
<a class="red-underline" href="/teatro-magro"><b>Teatro Magro</b></a>

<br><br><br>

<p>
Nell’universo sono emersi molti fenomeni affascinanti: mostruosi
buchi neri del peso di un miliardo di soli che mangiano le stelle e
vomitano getti di gas; stelle di neutroni che ruotano su se stesse mille
volte al secondo, la cui materia è compressa a un miliardo di tonnellate
per centimetro cubo; particelle subatomiche così inafferrabili che
potrebbero penetrare anni luce di piombo solido; onde gravitazionali
il cui flebile passaggio non lascia alcuna impronta percettibile.
</p>

<p>
Un punto microscopico brilla, poi un altro, poi un altro: è l’impercettibile,
è l’enorme. Questo lumicino è un focolare, una stella, un sole, un
universo; ma questo universo è niente. Ogni numero è zero di fronte
all’infinito. L’inaccessibile unito all’impenetrabile, l’impenetrabile
unito all’inesplicabile, l’inesplicabile unito all’incommensurabile:
questo è il cielo. In un universo infinito, qualsiasi cosa possa essere
immaginata potrebbe esistere da qualche parte. Nulla-Tutto si crea,
si distrugge, si trasforma.<br>
Di fronte al mare stupito dallo stupore.<br>
Io.<br>
Un universo di atomi.<br>
Un atomo nell’universo.
</p>

<br><br>

<a class="red-button" href="/invitro">Play!</a>
