<div class="container">
	<h2>con il sostegno di</h2>
	<h3>Coop Lombardia</h3>
	<p>Coop Lombardia non è un&rsquo;impresa come le altre, la sua caratteristica distintiva è la
		mutualità: l'interesse dei Soci e dei consumatori coincide con il suo scopo sociale.
		Convenienza, attenzione ai consumi, sensibilità verso l'ambiente e responsabilità sociale,
		sono le parole che descrivono l'essenza di Coop Lombardia. A Coop Lombardia aderiscono circa
		800.000 soci ed è presente nella regione con 92 negozi.</p>
	<h3>Gruppo Unipol</h3>
	<p>Il Gruppo Unipol è il secondo gruppo assicurativo nel mercato italiano, il primo nel ramo
		Danni e tra i primi dieci a livello europeo. Unipol adotta una strategia di offerta integrata, a
		copertura della intera gamma dei prodotti assicurativi e finanziari. Al core business si
		affiancano le attività nei settori bancario e immobiliare, estendendo il perimetro operativo
		all&rsquo;alberghiero, al sanitario e all&rsquo;agricolo.</p>
	<h3>ABITARE</h3>
	<p>Abitare Società Cooperativa è una cooperativa di abitanti che fornisce ai soci - a Niguarda,
		Affori e Dergano (Milano) - unità immobiliari (monolocali, bilocali, tricolori, quadrilocali,
		oltre a box e posti auto) in assegnazione in godimento d&rsquo;uso.</p>
	<h3>CAA</h3>
	<p>Rappresenta uno dei più importanti player nel settore della GDO e fornisce soluzioni integrate
		di logistica e di trasporto a multi-temperatura.</p>
	<h3>CLO</h3>
	<p>CLO è una moderna società di servizi, orgogliosamente Cooperativa, che si
		occupa di logistica integrata, gestione magazzini, consulenza e formazione.
	</p>
	<h3>FONDAZIONE UNPOLIS</h3>
	<p>È la fondazione d&rsquo;impresa del Gruppo Unipol, del quale costituisce uno
		degli strumenti più rilevanti per la realizzazione di iniziative di
		responsabilità sociale, nel quadro della più complessiva strategia di
		sostenibilità.</p>
	<h3>UNIABITA</h3>
	<p>UniAbita è la più grande cooperativa edificatrice italiana con oltre 18.000
		soci e oltre 2700 alloggi assegnati. Per noi CASA è un bene comune.</p>
	<h2>con il contributo di</h2>
	<h3>COOPFOND</h3>
	<p>Coopfond SpA è il fondo mutualistico di Legacoop. Nasce nel 1993 a seguito
		della legge 59/1992. Promuove la nascita, lo sviluppo e il rafforzamento della
		cooperazione. Ha come socio unico Legacoop, e gestisce il fondo alimentato dal
		3% degli utili e dai patrimoni residui delle cooperative aderenti a Legacoop.
	</p>
</div>