<img class="banner"
	src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/public/system/posters/878920/original/invitro-season_1618069442.jpg">
<div class="container">
	<h2 style="color: #be0e0e;">con il sostegno di</h2>
	<strong><a target="_blank" href="https://www.e-coop.it/cooperative/coop-lombardia/homepage"
			class="red-underline">Coop Lombardia</a></strong><br><br>
	<p>Coop Lombardia non è un&rsquo;impresa come le altre, la sua caratteristica distintiva è la mutualità:
		l'interesse dei Soci e dei consumatori coincide con il suo scopo sociale. Convenienza, attenzione ai consumi,
		sensibilità verso l'ambiente e responsabilità sociale, sono le parole che descrivono l'essenza di Coop
		Lombardia. A Coop Lombardia aderiscono circa 800.000 soci ed è presente nella regione con 92 negozi.<br> Coop
		Lombardia per il sociale. Guarda il video dell'iniziativa <a style="color: red;"
			href="https://www.youtube.com/watch?v=-ZBw7Xk0SLI">Coop Autism Friendly</a></p>
	<strong><a target="_blank" href="https://www.unipol.it/it/" class="red-underline">Gruppo Unipol</a></strong><br><br>
	<p>Il Gruppo Unipol è il secondo gruppo assicurativo nel mercato italiano, il primo nel ramo Danni e tra i primi
		dieci a livello europeo. Unipol adotta una strategia di offerta integrata, a copertura della intera gamma dei
		prodotti assicurativi e finanziari. Al core business si affiancano le attività nei settori bancario e
		immobiliare, estendendo il perimetro operativo all&rsquo;alberghiero, al sanitario e all&rsquo;agricolo.</p>
	<strong><a target="_blank" href="https://www.abitare.coop/" class="red-underline">ABITARE</a></strong><br><br>
	<p>Abitare Società Cooperativa è una cooperativa di abitanti che fornisce ai soci - a Niguarda, Affori e Dergano
		(Milano) - unità immobiliari (monolocali, bilocali, tricolori, quadrilocali, oltre a box e posti auto) in
		assegnazione in godimento d&rsquo;uso.</p>
	<strong><a target="_blank" href="http://www.caatrasporti.it/" class="red-underline">CAA</a></strong><br><br>
	<p>Rappresenta uno dei più importanti player nel settore della GDO e fornisce soluzioni integrate di logistica e di
		trasporto a multi-temperatura.</p>
	<strong><a target="_blank" href="https://www.clomilano.eu/" class="red-underline">CLO</a></strong><br><br>
	<p>CLO è una moderna società di servizi, orgogliosamente Cooperativa, che si occupa di logistica integrata,
		gestione magazzini, consulenza e formazione.</p>
	<strong><a target="_blank" href="https://www.fondazioneunipolis.org/"
			class="red-underline">UNIPOLIS</a></strong><br><br>
	<p>È la fondazione d&rsquo;impresa del Gruppo Unipol, del quale costituisce uno degli strumenti più rilevanti per
		la realizzazione di iniziative di responsabilità sociale, nel quadro della più complessiva strategia di
		sostenibilità.</p>
	<strong><a target="_blank" href="https://www.uniabita.it/" class="red-underline">UNIABITA</a></strong><br><br>
	<p>UniAbita è la più grande cooperativa edificatrice italiana con oltre 18.000 soci e oltre 2700 alloggi
		assegnati. Per noi CASA è un bene comune.</p>
	<h2 style="color: #be0e0e;">con il contributo di</h2>
	<strong><a target="_blank" href="https://www.coopfond.it/" class="red-underline">COOPFOND</a></strong><br><br>
	<p>Coopfond SpA è il fondo mutualistico di Legacoop. Nasce nel 1993 a seguito della legge 59/1992. Promuove la
		nascita, lo sviluppo e il rafforzamento della cooperazione. Ha come socio unico Legacoop, e gestisce il fondo
		alimentato dal 3% degli utili e dai patrimoni residui delle cooperative aderenti a Legacoop.</p>
		<h2 style="color: #be0e0e;">con il patrocinio del</h2>
		<strong><a target="_blank" href="https://www.comune.milano.it/" class="red-underline">COMUNE DI MILANO</a></strong><br><br> 
		<strong><a target="_blank" href="https://www.comune.mantova.gov.it/" class="red-underline">COMUNE DI MANTOVA</a></strong><br><br>
</div>