<h2>Teatro Menotti</h2>

<br><br>

<p>
Il Teatro Menotti ha compiuto da poco quarant’anni di attività teatrale ed è
uno dei luoghi più amati di Milano. Il Teatro Menotti non solo è un centro
di produzione e programmazione di spettacoli, ma un luogo familiare in cui
incontrarsi, socializzare e dialogare.
</p>

<p>
Nel 2018 il teatro ha rischiato di chiudere e la compagnia Tieffe Teatro, che dal
2010 gestisce la sala di via Menotti, ha accettato la sfi da di provare a difendere
uno spazio cittadino, impegnandosi economicamente, e non solo, con sguardo
fi ducioso al futuro. È iniziata così la prima campagna di raccolta fondi destinata
a salvare un teatro, una grande mobilitazione che ha coinvolto enti e istituzioni
del territorio, personaggi della cultura e dello spettacolo, ma anche tantissime
persone. La svolta è arrivata con un mecenate, il Trust Filippo Perego di Cremnago,
attivo in importanti progetti di solidarietà e iniziative culturali, che ha acquistato
il teatro garantendo fi no al 2036 lo svolgimento delle attività teatrali. Il teatro è
diventato Teatro Menotti Filippo Perego. Il 24 febbraio 2020 il Teatro Menotti ha
chiuso le porte per più di tre mesi a causa del Coronavirus e un minuto dopo la
mezzanotte del 15 giugno è stato il primo teatro in Italia a riaprirle.
</p>
