<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-magro_1618215556.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/teatromagro_1617955460.png">
			&nbsp; Teatro Magro
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		Teatro Magro nasce a Mantova sotto la direzione artistica del regista Flavio
        Cortellazzi. Attento ai temi della contemporaneità, il team ha creato e sviluppato
        un'offerta culturale multidisciplinare, divulgativa, sociale ed educativa. La sua attività
        si muove tra spettacoli e performance teatrali; performance per enti pubblici e società
        private, come evoluta forma spettacolare conforme alle specifiche esigenze del
        committente e realizzabile anche in contesti tradizionalmente non deputati alla cultura;
        laboratori teatrali, nelle scuole di ogni ordine e grado, per adulti, dilettanti e
        professionisti, persone diversamente abili; progetti territoriali in coordinamento con
        enti territoriali sia nazionali, sia internazionali.
	</p>
	<p>
		Ogni creazione di Teatro Magro è il risultato di un lavoro di équipe in cui soci e
        collaboratori uniscono le proprie competenze e i propri percorsi formativi in modo
        sinergico, dando origine a un prodotto che si caratterizza per l’alta qualità e la cura del
        dettaglio, per la costante messa in campo di processi d’innovazione, per l’attenzione
        alla contemporaneità, uniti alla simultanea capacità di mantenere e restituire il proprio
        stile.
    </p>
    <p>
        Uno stile fatto di un’estetica, unica, ben definita e immediatamente riconoscibile, e
        soprattutto di una sostanza: essenziale, pulito, che arriva dritto al contenuto. MAGRO.
    </p>
	<p style="text-align: center;">
		<br>
		<b>Il Teatro Magro presenta:</b><br>
		<a class="linkspettacolo" href="/sn-1604-corpo-celeste">SN | 1604 Corpo Celeste</a>
	</p>
</div>
