<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-Cooperativa_1617883502.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cooperativa_1617955411.png">
			&nbsp; Teatro della Cooperativa
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		Drammaturgia contemporanea, impegno civile, memoria storica e una comicità mai
		fine a se stessa, ma utilizzata soprattutto per veicolare contenuti “alti” e ridurre la
		distanza che a volte separa il teatro dalla vita di tutti i giorni, sono da sempre la cifra
		stilistica del Teatro della Cooperativa, che racconta storie ricorrendo a registri
		differenti e fondamentalmente legata all’idea di un “Teatro d’Arte per tutti”.
	</p>
	<p>
		Un teatro di qualità, capace di far dialogare generazioni differenti e di valorizzare il
		potenziale creativo dei nuovi talenti, attento ai bisogni e alle istanze delle periferie,
		come quella in cui il Teatro ha la sua sede dal 2002: il combattivo quartiere di
		Niguarda. La sala di via Hermada, dedicata alla partigiana Gina Galeotti Bianchi
		(nome di battaglia “Lia”) che ospita il teatro fin dalla sua nascita è di proprietà della
		Società Cooperativa Abitare, da sempre grande sostenitrice del teatro grazie alla
		comunanza di intenti basati sullo spirito cooperativo e di collaborazione, votato al
		coinvolgimento del pubblico.
	</p>
	<p>
		Con l’obiettivo di rendere lo spettacolo un’occasione di incontro, di crescita condivisa
		e di integrazione, il Teatro della Cooperativa, fondato e diretto da Renato Sarti, si
		impegna a tradurre in espressioni teatrali problematiche che riguardano il lavoro, la
		dignità umana, il disagio psichico e l’integrazione sociale, accogliendo nel corso degli
		anni attori e artisti di diverse nazionalità e valorizzando la creatività emergente. Le
		produzioni del teatro, molto spesso firmate dallo stesso Sarti, si caratterizzano per la
		volontà di far emergere realtà sociali e umane poco conosciute, dimenticate, a volte
		distorte dall’informazione mediatica e di raccontare la “grande storia” tratteggiandola
		attraverso le “piccole storie”.
	</p>
	<p>
		Tra gli spettacoli realizzati Muri - prima e dopo Basaglia (Premio Anima 2012 e finalista
		al Premio Riccione per il teatro) con Giulia Lazzarini, Premio Maschere del Teatro
		2015 come miglior interprete di monologo; La Nave Fantasma (Premio Gassman Città
		di Lanciano - Miglior Testo Italiano del 2005); Mai Morti, con Bebo Storti nei panni di
		un fascista mai pentito; I me ciamava per nome: 44.787 - Risiera di San Sabba
		(Segnalato Speciale e Premio Produzione Riccione per il Teatro 1995 e sostenuto da
		ANED - Associazione Nazionale Ex Deportati e ANPI - Associazione Nazionale dei
		Partigiani d’Italia), rappresentato presso la Sala della Lupa di Palazzo Montecitorio,
		stesso onore riservato a Nome di Battaglia Lia, insignito di una Medaglia
		Commemorativa dalla Presidenza della Repubblica; Gorla fermata Gorla con Giulia
		Lazzarini e Matilde e il tram per San Vittore che ha coinvolto Maddalena Crippa,
		Arianna Scommegna e Debora Villa; Il rumore del silenzio, realizzato in occasione
		del 50° anniversario della strage di Piazza Fontana, ha visto in scena Laura Curino al
		fianco di Renato Sarti, è stato tra i finalisti del 55° Premio Riccione per il Teatro.
	<p>
		Le varie produzioni del Teatro della Cooperativa hanno debuttato e sono state
		ospitate da Festival nazionali e internazionali (Mittelfest, Santarcangelo, Asti, Festival
		della mente …) e da tutti i più importanti teatri italiani (Teatro Greco di Siracusa, i
		Teatri Stabili di Trieste, Genova, Roma, Torino…) e nel territorio milanese vanta
		collaborazioni durature con tantissime realtà cittadine, tra cui il Piccolo Teatro, il
		Teatro dell’Elfo, il Teatro Franco Parenti, ATIR - Teatro Ringhiera…
	</p>
	<p>
		Il Teatro della Cooperativa, nel corso della sua storia, ha ospitato e collaborato con
		alcuni tra i più importanti protagonisti della scena teatrale italiana, sia per quanto
		riguarda il genere comico (Dario Fo e Franca Rame, Franca Valeri, Paolo Rossi,
		Roberto Brivio, Max Pisu, Ale e Franz, Flavio Oreglio, Mago Forrest, Alessandra
		Faiella...) che per quello “serio” (Omero Antonutti, Elio De Capitani, Paolo Bonacelli,
		Moni Ovadia, Gianfranco Berardi, Roberto Castello, Veronica Cruciani, Davide Enia,
		Stefano Massini, Saverio La Ruina, Milvia Marigliano, Daniele Timpano…).
	</p>
	<p style="text-align: center;">
		<br>
		<b>Il Teatro della Cooperativa presenta:</b><br>
		<a class="linkspettacolo" href="/nome-di-battaglia-lia">Nome di Battaglia Lia</a>
	</p>
</div>
