<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-elfo_1617883512.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/elfo_1617955421.jpg">
			&nbsp; Teatro dell'Elfo
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		Il Teatro dell’Elfo è stato fondato nel 1972 da un gruppo di attori che ancora oggi
		costituiscono l’anima della cooperativa e ancora oggi lo guidano: Corinna Agustoni,
		Ferdinando Bruni, Cristina Crippa, Elio De Capitani, Ida Marinelli e Luca Toracca, a cui
		si sono aggiunti Elena Russo Arman e Francesco Frongia. Una comunità di lavoro
		artistico, legata a una precisa tradizione di teatro d'attore, che in cinquant’anni è stata
		capace di evolversi in accordo con i tempi, non solo sul fronte dei linguaggi della
		scena, ma anche dei modelli gestionali. E che è stata capace di perseguire e
		realizzare un grande ‘sogno’ (oltre quello shakespeariano): creare a Milano un grande
		teatro d'arte sul modello dei più prestigiosi teatri europei. Nel 2010 ha inaugurato la
		nuova sede, il novecentesco <b>Elfo Puccini</b> di corso Buenos Aires, sostenendo i costi
		di progettazione del restauro e ripensandolo radicalmente come <b>Teatro d'arte
		contemporanea</b>. Le tre sale, dedicate a Shakespeare, Fassbinder e Bausch,
		esemplificano il manifesto artistico e programmatico dell’Elfo: la pratica convinta della
		drammaturgia contemporanea, la programmazione interdisciplinare, la compattezza
		del nucleo artistico e il lavoro con e per le nuove generazioni di artisti e di spettatori.
	</p>
	<p>
		Il Teatro dell’Elfo è oggi una ‘fabbrica’ che produce arte e teatro (non un negozio o
		una vetrina), una ’casa’ aperta alla città dove incontrarsi e condividere pensieri ed
		emozioni.
	</p>
	<p>
		Diretto da Ferdinando Bruni, Elio De Capitani e Fiorenzo Grassi, l’Elfo è una
		cooperativa ed la prima istituzione teatrale italiana ad aver ottenuto il riconoscimento
		di Impresa Sociale (nel 2011), con il coinvolgimento dei lavoratori e di tutti gli
		stakeholder, spettatori e cittadini. È un esperimento artistico d'avanguardia, ma anche
		un esperimento economico e sociale, un'impresa retta da principi etici e partecipati
		che mette al centro del suo agire la tutela del lavoro.
	</p>
	<p style="text-align: center;">
		<br>
		<b>Il Teatro dell'Elfo presenta:</b><br>
		<a class="linkspettacolo" href="/mary-una-sarta-per-shakespeare">Mary, una Sarta per Shakespeare</a>
	</p>
</div>
