<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-menotti_1617883532.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/teatromenotti_1617955469.png">
			&nbsp; Teatro Menotti
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		Il Teatro Menotti ha compiuto da poco quarant’anni di attività teatrale ed è uno dei
        luoghi più amati della città, un consolidato punto di riferimento culturale per i cittadini,
        un luogo ormai “storico” della mappa culturale della città. Il teatro Menotti non solo è
        un centro di produzione e programmazione di spettacoli, ma un luogo che lo
        spettatore oramai percepisce come familiare, in cui incontrarsi, socializzare e
        dialogare. Un luogo dove le persone si incontrano per davvero come persone. Nel
        2018 Il teatro ha rischiato di chiudere a causa di dinamiche imprenditoriali legate alla
        ristrutturazione del complesso immobiliare di via Ciro Menotti 11 e di diventare un
        garage. La compagnia Tieffe Teatro, che dal 2010 gestisce la sala di via Menotti, ha
        accettato la sfida di provare a difendere uno spazio cittadino, decidendo di
        impegnarsi economicamente e non solo, in una misura oggettivamente superiore alle
        proprie forze, ma con uno sguardo fiducioso verso il futuro. La salvezza del teatro
        richiedeva inevitabilmente il suo acquisto, la strada era molto difficile, pochi mesi per
        raggiungere un obiettivo che appariva lontanissimo. Parte così la prima campagna di
        raccolta fondi destinata a salvare un teatro, una pazzesca mobilitazione che coinvolge
        enti e istituzioni del territorio, personaggi della cultura, del teatro, della musica e dello
        spettacolo, ma anche tantissime persone che impediscono di trasformare via Menotti
        11 in un rimpianto.
	</p>
	<p>
		La svolta arriva con un mecenate, il Trust Filippo Perego di Cremnago, molto attivo
        in importanti progetti di solidarietà e iniziative culturali, che decide di acquistare il
        teatro e garantisce fino al 2036 lo svolgimento delle attività teatrali. Il teatro diventa
        Teatro Menotti Filippo Perego. Il 24 febbraio 2020 il Teatro Menotti chiude le porte
        per più di tre mesi a causa del Coronavirus e un minuto dopo la mezzanotte del 15
        giugno è il primo teatro in Italia a riaprirle.
	</p>
	<p style="text-align: center;">
		<br>
		<b>Il Teatro Menotti presenta:</b><br>
		<a class="linkspettacolo" href="/far-finta-di-essere-sani">Far Finta di Essere Sani</a>
	</p>
</div>
