<h2>Teatro dell'Elfo</h2>

<br><br>

<p>
Il Teatro dell’Elfo è stato fondato nel 1972 da un gruppo di attori che ancora
oggi costituiscono l’anima della cooperativa e lo guidano: Corinna Agustoni,
Ferdinando Bruni, Cristina Crippa, Elio De Capitani, Ida Marinelli e Luca Toracca,
a cui si sono aggiunti Elena Russo Arman e Francesco Frongia.
</p>

<p>
Nel 2010 ha inaugurato la nuova sede, il novecentesco Elfo Puccini di corso
Buenos Aires, sostenendo i costi di progettazione del restauro e ripensandolo
radicalmente come Teatro d’arte contemporanea. Le tre sale, dedicate a
Shakespeare, Fassbinder e Bausch, esemplifi cano il manifesto artistico e
programmatico dell’Elfo: la pratica convinta della drammaturgia contemporanea,
la programmazione interdisciplinare, la compattezza del nucleo artistico e il
lavoro con e per le nuove generazioni di artisti e di spettatori. Il Teatro dell’Elfo
è oggi una ‘fabbrica’ che produce arte e teatro (non un negozio o una vetrina),
una ’casa’ aperta alla città dove incontrarsi e condividere pensieri ed emozioni,
è anche la prima istituzione teatrale italiana ad aver ottenuto il riconoscimento di
Impresa Sociale nel 2011.
</p>
