<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner-buratto_1617883491.jpg">

<div style="background-color: white;">
	<div class="container">
		<h2>
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/teatrodelburatto__1617955451.png">
			&nbsp; Teatro del Buratto
		</h2>
	</div>
</div>

<div class="container" style="padding-top: 30px;">
	<p>
		Nato nel 1975, il Teatro del Buratto – oggi cooperativa sociale - ha da sempre
		orientato la produzione a un'attenzione particolare al momento musicale, all'aspetto
		pittorico, grafico e di immagine, nella direzione di un “teatro totale", dove alle
		consuete tecniche d'attore, che fanno uso di linguaggi verbali e gestuali, si
		accompagna una ricerca nel teatro d'animazione (pupazzi, oggetti, forme) secondo le
		tecniche più diverse: teatro su nero, pupazzo indossato, ecc. Gli spettacoli sono
		rappresentati a Milano, in tournée su tutto il territorio nazionale e all'estero. Accanto
		alla produzione artistica il Buratto ha sempre rivolto ampia attenzione alle ricadute
		sociale ed educative del proprio lavoro nel confronto con il mondo della scuola, di
		reti associative, di attività sul territorio, anche per fasce deboli o per la riqualificazione
		professionale dei giovani, in rapporto con Istituzioni (Ministero Regione Comune ecc)
		e con altri Enti ( Fondazione Cariplo; Lega Cooperative, Camera di commercio ecc.)
		adempiendo con sempre maggior completezza e articolazione al proprio mandato
		come Centro di Produzione per l’infanzia e i giovani. Il Teatro del Buratto è
		riconosciuto e sostenuto dal Ministero per i Beni e le Attività Culturali, dalla Regione
		Lombardia, dalla Provincia e dal Comune di Milano, in un rapporto istituzionale di
		reciproca collaborazione.
	</p>
	<p>
		Gli spettacoli di teatro su nero, terreno di ricerca artistica della compagnia, privi di
		testo e ricchi di quadri scenici, consentono allo spettatore una lettura attraverso
		immagini, forme, oggetti, suoni e per queste caratteristiche trovano nel mercato
		estero un largo interesse. Significativo anche il repertorio di teatro d’attore, con anche
		il realizzarsi di un progetto produttivo dedicato a temi vicini all’adolescenza, che vede
		nello spettacolo “Janis” del 2020 una nuova importante tappa. Attenzione specifica
		anche alla primissima infanzia (fascia 2-4 anni) con proposte di allestimenti interattivi,
		tra gioco e narrazione, per avvicinare all’ascolto teatrale, con attenzione alla relazione
		genitore/bambino.
	</p>
	<p>
		Formazione e attenzione al sociale sono attività che vedono il Buratto protagonista.
		Con i corsi di formazione sul teatro di figura e su nero - dall’originale scuola YORIK
		all’inizio anni 80, ai Corsi professionalizzanti per Animatori su nero finanziati da
		Regione Lombardia/FSE, alla più recente partnership pluriennale per il corso
		ANIMATERIA ( finanziato da Regione Emilia Romagna), a molte altre proposte, tra cui
		la partecipazione a Master Universitari sul teatro per l’infanzia e sul Teatro sociale. Da
		segnalare anche gli storici corsi di Corsi di scrittura creativa (ideati a fine anni ’80 al
		Teatro Verdi da Raffele Crovi e sviluppati e a lungo condotti da Giuseppe Pontiggia).
		Contribuendo a nuove reti sul territorio - anche grazie al teatro Munari in area di
		Municipio 9 a Milano – il Buratto aderisce a diversi progetti e interventi sul sociale,
		anche di sostegno alla povertà economica ed educativa.
	</p>
	<p>
		All'attività di produzione si affianca un'intensa attività di ospitalità con rassegne per
		bambini e famiglie e per le Scuole, che si svolge dalla stagione 2017/2018 nella nuova
		casa del Teatro del Buratto a Milano: il Teatro Bruno Munari, struttura del Comune di
		Milano - 2000mq su progetto di Italo Rota e realizzata da Generali Estate - la cui
		gestione è stata affidata al Buratto attraverso un bando di evidenza pubblica. Il Teatro
		del Buratto continua a gestire anche il Teatro Verdi dove propone una stagione per il
		pubblico di giovani e adulti, operando in storica convenzione con il Comune di Milano.
	</p>
	<p>
		Il Buratto propone anche specifici festival, come lo storico festival Segnali (nato sul
		finire anni ’80 in collaborazione con Regione Lombardia e con Elsinor Teatro) e punto
		di riferimento nazionale (e per operatori internazionali) del nuovo teatro per l’infanzia e
		i giovani, che ora include anche altri progetti come NEXT/Infanzia di Agis e Regione
		Lombardia e gli Eolo Awards, riconoscimenti per il Teatro ragazzi. Dal 2007/08
		organizza e promuove IF Festival Internazionale di Teatro di Immagine e Figura in
		un’articolata definizione che comprende le forme artistiche della tradizione,
		dell’innovazione e della contemporaneità. Proposta che nel 2010 ha ricevuto il Premio
		Hystrio Provincia di Milano. Nel 2015 il Buratto è stato insignito, per la sua specifica
		e diversificata proposta culturale e teatrale, dell’onorificenza dell’Ambrogino d’Oro
		da parte del Comune di Milano.
	</p>
	<p style="text-align: center;">
		<br>
		<b>Il Teatro del Buratto presenta:</b><br>
		<a class="linkspettacolo" href="/janis-take-another-little-piece-of-my-heart">Janis - Take Another Little Piece of My Heart</a>
	</p>
</div>
