<div class="container">
    <h2 style="color: #be0e0e;">Termini e Condizioni Generali del Servizio</h2>

    <h3>Premessa</h3>
    I presenti termini e condizioni generali del servizio e di uso del sito web (di seguito, i <strong>“Termini"</strong>) regolano:
    <ul>
        <li>l’utilizzo, da parte dell’utente, del sito web ospitato all'indirizzo www.invitro.coop (di seguito, il
            “Sito”);
        </li>
        <li>le modalità di acquisto degli spettacoli teatrali in streaming on demand (di seguito, gli <strong>“Spettacoli”</strong>) resi
            disponibili all’utente tramite il Sito.</li>
    </ul>

    <p>
        Il venditore degli Spettacoli acquistati sul Sito è <strong>CoopServizi S.C.C.</strong> (di seguito, il <strong>“Venditore”</strong>), con sede
        legale
        in Milano (MI), Viale Edoardo Jenner 17, Codice Fiscale e P.IVA 01815830151.<br>
        Nel darti il benvenuto sul nostro Sito, ti invitiamo, prima di proseguire con l’accesso o l’uso del medesimo, a
        leggere attentamente i presenti Termini, i quali si applicano a tutti i visitatori e/o utenti del Sito.<br>
        Accedendo al Sito ed utilizzando le sue funzionalità, confermi di accettare i presenti Termini ed esprimi la tua
        volontà di essere vincolato dagli stessi. <strong>Se non sei d’accordo e/o non accetti i presenti Termini non potrai
        utilizzare questo Sito e ti invitiamo pertanto a cessarne immediatamente l'utilizzo.</strong><br>
        I presenti Termini, unitamente alla conferma dell’acquisto degli Spettacoli, costituiscono il contratto tra
        l’utente
        ed il Venditore avente ad oggetto l’acquisto degli eventi teatrali ed al quale non si applicheranno termini o
        condizioni differenti.<br />
        Confermando di aver letto ed accettato i presenti Termini nel momento in cui effettui un ordine di acquisto
        attraverso il nostro Sito, confermi di accettarli incondizionatamente. Il contratto può essere modificato solo
        per
        effetto di un accordo reciproco riportato per iscritto o via e-mail.<br>
        <br>
        Se hai bisogno di ulteriori informazioni ricordati che <strong>puoi sempre contattarci tramite il form presente nella
        sezione “Contattaci” del Sito.</strong>
    </p>
    <h3> 1 - La nostra politica commerciale</h3>
    <ul>
        <li>1.1 Il Venditore fornisce e gestisce, tramite il Sito, lo streaming on demand degli Spettacoli tramite la
            rete di
            telecomunicazioni internet esclusivamente nei confronti dei propri utenti registrati.</li>
        <li>1.2 Quando parliamo di “utente registrato” ci riferiamo a qualsiasi persona fisica che agisce sul Sito con
            finalità
            culturali, senza fini di lucro e per scopi non riferibili alla propria attività commerciale, imprenditoriale
            o
            professionale.</li>
        <li>1.3 Per registrarsi ed effettuare ordini sul Sito, l’utente finale deve:</li>
        <ul>
            <li>a) essere maggiore degli anni 14, in conformità a quanto previsto in tema di consenso digitale dall’art.
                8 del
                Regolamento UE 2016/679 (di seguito, il <strong>“GDPR”</strong>) e dall’art. 2 quinquies del D.lgs. 196/2003 (di seguito,
                il
                <strong>“Codice Privacy”</strong>);</li>
            <li>b) possedere i requisiti necessari per stipulare contratti legalmente vincolanti;</li>
            <li>c) avere un valido indirizzo email;</li>
        </ul>
    </ul>
    <p>
        Se sei un utente minore degli anni 14, potrai usufruire del servizio esclusivamente sotto la supervisione di un
        adulto.
        Tali requisiti regolano inderogabilmente l’offerta e l’accettazione di ordini d’acquisto degli Spettacoli su
        www.invitro.coop tra gli utenti ed il Venditore.
    </p>

    <h3>2 - Funzionalità e finalità del Sito</h3>
    <ul>
        <li>2.1 Utilizziamo il nostro Sito per promuovere e fornire informazioni sul progetto di teatro on demand, come
            meglio specificato nella sezione del Sito “Cos’è invitro”, nonché sui relativi Spettacoli offerti.</li>
        <li>2.2 Tramite il nostro Sito potrai, inoltre, prenotare e vedere in streaming gli Spettacoli pubblicati nella
            sezione “Gli Spettacoli”, dopo aver inserito i dati richiesti nelle sezioni “Registrati” e “Accedi” del
            Sito.
        </li>
        <li>2.3 Il Venditore si riserva di attivare eventuali funzionalità ulteriori.<br />
            Ad esempio, potrebbe essere permesso agli utenti di richiedere l’invio di newsletter relative agli
            Spettacoli
            e/o ad altre iniziative culturali collegate con i Teatri e/o altri Enti coinvolti nel progetto, cliccando
            sugli
            appositi hyperlink.</li>
        <li>2.4 Resta, comunque, fermo il tuo diritto, come utente, di cancellarsi da ogni servizio attivato tramite una
            semplice richiesta a info@invitro.coop .</li>
    </ul>
    <h3>3 - Le nostre policy sulla Privacy e sui Cookie</h3>
    <ul>
        <li>3.1 L’accesso ad alcune sezioni del Sito, nonché l’utilizzo di alcune funzionalità dello stesso, quali ad
            esempio la
            richiesta di informazioni (sezione “Contattaci” e sezione “Registrati”), possono comportare la raccolta e il
            trattamento di alcuni tuoi <strong>dati personali.</strong></li>
        <li>3.2 Per maggiori informazioni sul trattamento dei tuoi dati personali tramite il Sito, ti invitiamo a
            leggere la
            nostra <a href="/it/privacy-policy">Policy sulla Privacy</a> e <a href="/it/cookie-policy">Policy sui
                Cookie.</a></li>
        <li>3.3 Utilizzando il Sito riconosci e accetti che le comunicazioni effettuate tramite Internet non sono mai
            completamente confidenziali e sicure e che qualsiasi informazione o messaggio inviato al Sito potrebbe
            essere
            letto o intercettato da soggetti diversi dai legittimi destinatari, anche in presenza di eventuali avvisi
            che
            specifichino che una particolare trasmissione è criptata. <strong></strong>Qualora tu non sia d'accordo con le nostre
            politiche sulla privacy e/o sui cookie o non intenda accettarle, ti invitiamo a cessare immediatamente l’utilizzo del
            nostro Sito.</li><strong></li>
    </ul>

    <h3>4 - Registrazione e Account Personale</h3>
    <ul>
        <li>4.1 Al fine di concludere il contratto di acquisto degli Spettacoli è necessario che ti registri ed apra un
            account
            (“Account”) inserendo tutti i dati richiesti nell’apposita sezione “Registrati” del Sito.
        <li>4.2 Solo gli utenti registrati possono procedere all’acquisto degli Spettacoli.</li>
        <li>4.3 Ti preghiamo di tenere presente che <strong>sarai responsabile di tutte le attività poste in essere tramite il
            tuo Account</strong> (incluso ad esempio qualsiasi acquisto dei nostri Spettacoli effettuato tramite il tuo Account) e ti
            invitiamo quindi a <strong>conservare in modo accurato e riservato i tuoi dati di accesso</strong> e a fare in modo che terze
            parti non utilizzino il tuo Account senza il tuo consenso.</li>
        <li>4.4 CoopServizi S.C.C. si riserva il diritto di cancellare o sospendere il tuo Account, in qualsiasi momento
            ed
            anche senza preavviso quando: (i) ritenga ragionevolmente che stai usando l’Account in violazione dei
            presenti
            Termini; (ii) ritenga ragionevolmente che una terza parte stia usando il tuo Account senza il tuo consenso;
            (iii) ritenga ragionevolmente necessario cancellare o sospendere il tuo Account a fini di sicurezza o
            manutenzione.</li>
        <li>4.5 I dati personali da te inseriti ai fini della registrazione dell’Account e, in generale, i dati
            personali
            raccolti tramite il Sito, sono trattati nel rispetto delle norme previste dal GDPR e dal Codice Privacy,
            secondo
            quanto previsto dettagliatamente nella nostra <a href="/it/privacy-policy">Policy sulla Privacy</a> che ti
            invitiamo a <strong>consultare e a leggere con attenzione prima di conferire al Sito i tuoi dati personali.</strong></li>
    </ul>

    <h3>5 - Conclusione del contratto</h3>
    <ul>
        <li>
            5.1 Per concludere il contratto di acquisto di uno o più Spettacoli sul Sito, dopo avere selezionato
            l’opzione da te
            scelta (acquisto singolo o abbonamento ai 7 Spettacoli), dovrai seguire le istruzioni per la procedura di
            pagamento
            descritta nella pagina dedicata all’esecuzione della transazione economica, indicando i tuoi dati di
            pagamento ed
            infine confermando l’invio, per via telematica, dell’ordine di pagamento.
        </li>
        <li>
            5.2 Nel modulo d’ordine che sarà visualizzato prima della conferma della conclusione del contratto
            d’acquisto, ti
            forniremo le informazioni di sintesi del tuo ordine. Il contratto di vendita sarà considerato concluso
            quando il
            Venditore riceverà, per via telematica, la conferma del tuo pagamento tramite il modulo d'ordine.
        </li>
        <li>
            5.3 I dati e le informazioni che ci comunicherai nella fase di acquisto saranno da noi archiviato in modo
            sicuro e
            conservati per il periodo di tempo necessario all’erogazione del servizio che hai richiesto e per
            l’eventuale
            periodo successivo che ci viene richiesto da norme di legge. In ogni caso, le tue informazioni di acquisto
            saranno
            da noi cautelativamente conservate per almeno un anno dopo il tuo acquisto per eventuali esigenze
            probatorie.
        </li>
        <li>
            5.4 Al momento di procedere alla trasmissione del modulo d'ordine sarai avvertito che la conferma d’ordine
            implica
            l’obbligo di corrispondere il prezzo indicato. Pertanto, <strong>prima di procedere alla conferma dell’ordine di
            acquisto, è
            tuo onere verificare la correttezza dei dati inseriti.</strong>
        </li>
        <li>
            5.5 Una volta effettuato l’acquisto, l’ordine di acquisto non è annullabile né modificabile.
        </li>
        <li>
            5.6 Con la trasmissione telematica dell’ordine di acquisto, accetti incondizionatamente e ti impegni ad
            osservare, nei
            rapporti con il Venditore, i presenti Termini e confermi di conoscere ed accettare le ulteriori informazioni
            contenute sul Sito. <strong>Se non condividi alcuni dei nostri Termini, ti invitiamo a non inoltrare l’ordine di
            acquisto degli Spettacoli sul Sito.</strong>
        </li>
    </ul>





    <h3>6 - Modalità, tempi di fruizione del servizio e prezzo degli Spettacoli</h3>
    <ul>
        <li>6.1 Sul Sito sono offerti in vendita i 7 (sette) Spettacoli pubblicati nella sezione “Gli Spettacoli”.</li>
        <li>Le caratteristiche dei singoli Spettacoli sono desumibili dalla specifica descrizione rinvenibile nella
            pagina di
            presentazione del singolo Spettacolo.</li>
        <li>6.3 Gli Spettacoli sono erogati dal Venditore in modalità streaming on demand e sono visualizzabili su
            computer, tablet
            o smartphone (di seguito, i <strong>“Device”).</strong><br>
            La qualità dell’immagine video degli Spettacoli potrebbe variare a seconda del dispositivo da te utilizzato
            e
            potrebbe essere influenzata da una serie di fattori quali, ad esempio, la posizione geografica, la larghezza
            di banda disponibile o la velocità della connessione Internet, <STRONG>in merito ai quali non possiamo assumerci alcuna
            responsabilità in quanto indipendenti dalle caratteristiche tecniche del nostro Sito e al di fuori del
            nostro possibile controllo.</STRONG><br>
            In particolare, il Venditore non potrà essere ritenuto responsabile di eventuali disservizi o
            malfunzionamenti del
            servizio di streaming dipendenti e/o connessi a caratteristiche tecniche non adeguate della connessione
            internet
            utilizzata dall’utente e/o dell’inadeguatezza (per vetustà e/o performance tecniche, etc.) dei Device
            utilizzati dal
            medesimo utente. In nessun caso il Venditore potrà, inoltre, essere ritenuto responsabile del
            malfunzionamento delle
            linee telefoniche, elettriche o delle reti di telecomunicazione mondiali e/o nazionali per guasti,
            sovraccarichi,
            interruzioni, rallentamenti di velocità, mancato funzionamento degli elaboratori che gestiscono il traffico
            telematico o di causa di forza maggiore. Inoltre, il Venditore non potrà in alcun modo essere ritenuto
            responsabile
            di guasti, omissioni o sospensioni temporanee del servizio dovuti a guasti di servers o providers esterni,
            nazionali
            e/o internazionali o per problemi di accesso o di banda, come anche per eventuali disservizi dovuti a
            violazioni dei
            sistemi da parte di hackers.<br>
            In tutti i casi di cui sopra, nessun risarcimento potrà essere richiesto al Venditore per eventuali danni
            diretti
            e/o indiretti all’utente causati dall’utilizzazione non conforme o dalla mancata utilizzazione dei servizi
            connessi
            alla fruizione degli Spettacoli.</li>
        <li>6.4 Per l’erogazione del servizio di streaming il Venditore si avvale del fornitore esterno muvi.com che
            offre adeguate
            garanzie per l’ottimale gestione dei contenuti multimediali in termini di velocità, scalabilità e sicurezza
            delle
            informazioni.</li>
        <li>6.5 L’utente, una volta effettuato l’acquistato, dello Spettacolo o dell’abbonamento ai sette Spettacoli,
            <strong>potrà
                far partire la visualizzazione dello Spettacolo prescelto sui propri Device, autenticandosi con il
                proprio Account registrato sul Sito,
                per un massimo di 3 (tre) volte e, comunque, entro il termine massimo del 30 settembre 2021.</strong>
        </li>
        <li>6.6 Il prezzo di vendita degli Spettacoli è in valuta Euro ed stabilito come segue:
            a) acquisto di una Spettacolo singolo Euro 8,00 (Euro otto/00)
            b) acquisto dell’abbonamento ai 7 Spettacoli Euro 30,00 (Euro trenta/00)
            I prezzi si intendono comprensivi di ogni spesa, costo e/o tassa prevista per legge.</li>
        <li>
            6.7 Il Venditore si riserva la facoltà di applicare condizioni agevolate di acquisto su singoli Spettacoli
            e/o sugli
            abbonamenti, tramite rilascio di appositi <strong>codici sconto</strong> da utilizzare al momento del
            pagamento, a favore di Enti,
            Istituti Universitari, Associazioni, Enti e Fondazioni Culturali e/o ad ogni altro soggetto ritenuto
            meritevole, per
            la diffusione e la promozione della cultura e dei valori della cooperazione.
        </li>
        <li>
            6.8 L’utente si impegna a non conservare, riprodurre, distribuire, modificare, mostrare, pubblicare,
            concedere in
            licenza, creare opere derivate da, offrire in vendita o utilizzare (fatto salvo quanto espressamente
            autorizzato nei
            presenti Termini) contenuti e informazioni degli Spettacoli ottenuti da o tramite il servizio reso
            disponibile dal
            Venditore tramite il Sito.
        </li>
        <li>
            6.9 L’utente, inoltre, si impegna a non:
            <ul>
                <li>aggirare, rimuovere, alterare, disattivare, degradare o bloccare le eventuali protezioni dei
                    contenuti del servizio;</li>
                <li>utilizzare robot, spider, scraper o altri strumenti automatici per accedere al servizio;</li>
                <li>decompilare, sottoporre a reverse engineering o disassemblare qualsiasi software o altro prodotto o
                    processo
                    accessibile tramite il servizio;</li>
                <li>inserire qualsiasi codice o prodotto o manipolare il contenuto del servizio erogato tramite il Sito.
                </li>
            </ul>
        </li>
    </ul>
    <h3>7 - Pagamenti</h3>
    <ul>
        <li>7.1 Per il pagamento del prezzo degli Spettacoli il Venditore si avvale della piattaforma di pagamenti
            digitali
            Stripe.com che garantisce agli utenti la massima sicurezza sull’acquisto.</li>
        <li>7.2 Al momento dell’acquisto, l’utente verrà reindirizzato sul sito del predetto fornitore dove le
            informazioni
            finanziarie dell’utente (ad esempio, il numero della carta di credito/debito e la data della sua scadenza)
            saranno
            inoltrate, tramite protocolli sicuri, agli istituti di credito coinvolti nella transazione finanziaria che
            forniscono i relativi servizi di pagamento elettronico a distanza, senza che terzi soggetti possano, in
            alcun modo,
            avervi accesso.</li>
        <li>
            7.3. Poiché il Venditore non ha in alcun modo accesso alle informazioni finanziare dell’utente, qualsiasi
            eventuale
            richiesta e/o contestazione in merito alle transazioni finanziarie di acquisto effettuate dall’utente
            dovranno
            essere rivolte al fornitore Stripe.com, con esonero di qualsivoglia responsabilità in capo a CoopServizi
            S.C.C..
        </li>
    </ul>
    <h3>8 - Diritto di recesso</h3>
    <ul>
        <li>
            8.1 Hai il diritto di recedere dal contratto concluso con il Venditore qualora il Venditore non sia in
            grado, per
            qualsiasi motivo, di mettere a tua disposizione gli Spettacoli acquistati prima della scadenza del 30
            settembre
            2021.
        </li>
        <li>
            8.2 Per esercitare il recesso, dovrai inviare una comunicazione scritta al Venditore, segnalando il
            disservizio e le
            cause - se note – della mancata visualizzazione degli Spettacoli acquistati, esclusivamente via email
            all’indirizzo
            info@invitro.coop
        </li>
        <li>
            8.3 Il Venditore ti invierà conferma a mezzo email dell’avvenuto ricevimento della tua richiesta.
        </li>
        <li>
            8.4 Previa verifica tecnica del disservizio segnalato, il Venditore, accertata la fondatezza della
            segnalazione,
            provvederà a rimborsare, con le stesse modalità con cui è avvenuto il pagamento e salvo che l’utente abbia
            espressamente convenuto con il Venditore l’utilizzo di un diverso mezzo di pagamento, le somme versate.
        </li>
        <li>
            8.5 Qualora l’utente abbia acquistato l’abbonamento ai 7 Spettacoli ed abbia potuto usufruire della visione
            di parte
            degli Spettacoli acquistati, il rimborso sarà proporzionalmente ridotto alla sola parte del servizio non
            goduto
            dall’utente.
        </li>
        <li>
            8.6 Al di fuori delle ipotesi sopra descritte, l’utente non avrà diritto al rimborso delle somme già
            corrisposte al
            Venditore per la mancata fruizione degli Spettacoli.
        </li>
    </ul>
    <h3>9 - Proprieta’, Copyright & Trademark</h3>
    <ul>
        <li>
            9.1 Il Sito, il nome di dominio e tutto il suo contenuto è proprietà di CoopServizi S.C.C..
            In assenza della nostra autorizzazione scritta, è vietato utilizzare la denominazione “invitro.coop” in
            qualunque
            modo che possa sottintendere una sponsorizzazione o un accreditamento da parte di CoopServizi S.C.C..
        </li>
        <li>
            9.2 Il materiale contenuto nel Sito potrebbe essere protetto da copyright o da altre leggi sulla proprietà
            intellettuale
            o legge applicabile. Pertanto, qualsiasi riproduzione, alterazione, trasmissione, pubblicazione o
            ridistribuzione a
            terzi, per scopi commerciali, è severamente vietata se priva di espresso consenso scritto di CoopServizi
            S.C.C..
        </li>
    </ul>

    <h3>10 - Esonero da responsabilità </h3>
    <ul>
        <li>
            10.1 CoopServizi S.C.C. pubblica informazioni sul Sito al fine di fornire un servizio ai propri utenti,
            tuttavia declina
            ogni responsabilità circa la possibilità di eventuali inesattezze tecniche o di fatto e/o errori tipografici
            per i
            quali è prevista, a seguito di una segnalazione, immediata correzione.
        </li>
        <li>
            10.2 CoopServizi S.C.C. si riserva, inoltre, il diritto di apportare correzioni e cambiamenti al Sito ogni
            qualvolta lo
            ritenga necessario, senza darne preavviso.
        </li>
        <li>
            10.3 CoopServizi S.C.C. declina ogni responsabilità relativa ad eventuali problemi, danni o rischi che
            l'utente può
            incontrare durante l’utilizzo del Sito.
        </li>
        <li>
            10.4 CoopServizi S.C.C. declina ogni responsabilità relativa ad eventuali malfunzionamenti legati alla
            disattivazione dei
            cookie nel browser dell’utente.
        </li>
    </ul>
    <h3>11 - Modifiche e aggiornamenti</h3>

    <ul>
        <li>
            11.1 CoopServizi S.C.C. si riserva il diritto di rettificare/riesaminare i presenti Termini tramite un loro
            aggiornamento
            ogni qualvolta lo ritenga opportuno, senza alcun obbligo di dare preavviso.
        </li>
        <li>
            11.2 L'utente è tenuto ad attenersi ai presenti Termini, controllandone periodicamente eventuali
            aggiornamenti, cambi e
            correzioni.
        </li>
    </ul>

    <h3>12 - Legge applicabile e soluzione delle controversie</h3>
    <ul>
        <li>
            12.1 I presenti Termini sono regolati dalla legge italiana.
        </li>
        <li>
            12.2 Accedendo al Sito gli utenti dichiarano di assoggettarsi alla giurisdizione italiana ed alla competenza
            del Foro di
            Milano, fatto salvo quanto previsto dall’art. 66-bis del Codice del Consumo in merito al foro del
            consumatore.
        </li>
        <li>
            12.3 L’accesso al Sito da luoghi in cui i relativi contenuti sono considerati illegali è espressamente
            proibito. Gli
            Utenti che decidano di accedere al Sito da tali Paesi sono pienamente consapevoli delle conseguenze legali e
            delle
            sanzioni in cui rischiano di incorrere e saranno i soli responsabili del rispetto delle leggi locali.
        </li>
    </ul>
    <h3>13 - Disposizioni finali</h3>
    <ul>
        <li>
            13.1 Qualora una o più disposizioni dei presenti Termini dovessero essere ritenute invalide, illegali o non
            applicabili, ciò non influirà sulla validità, legittimità e applicabilità delle restanti disposizioni, che
            continueranno ad avere piena validità ed efficacia.
        </li>
        <li>
            13.2 L’utente prende atto ed accetta che CoopServizi S.C.C. invii informazioni relative al proprio Account
            (quali,
            ad esempio, modifiche di password, messaggi di conferma, notifiche, etc.) esclusivamente in formato
            elettronico,
            tramite l'indirizzo email fornito al momento della registrazione.
        </li>
    </ul>

    <strong>Ultimo aggiornamento:</strong> 12 aprile 2021
</div>