<h2>WEBulli</h2>
<a class="red-underline" href="/industria-scenica"><b>Industria Scenica</b></a>

<br><br><br>

<p>
Anna ha 14 anni, fa le superiori in una cittadina alle porte di Milano.
Ha una migliore amica, ha anche un ragazzo. È carina, è popolare.
Un giorno si fa un video per il suo fi danzato. Ma quel video inizia a
saltare da uno schermo all’altro.
</p>

<p>
Il bullismo a scuola c’è sempre stato, come anche il bisogno di farsi
notare. Ma come sono cambiati oggi questi fenomeni tra social network
e nuove tecnologie? Oggi gli “schiaffi ” sono diventati intangibili, sono
video pubblicati online, messaggi anonimi, foto rubate, false identità.
Fisicamente fanno meno male, ma quanto feriscono nell’anima?
</p>

<p>
WEBulli indaga i fenomeni di cyberbullismo e sexting, ossia gli atti
di bullismo e molestia e lo scambio di contenuti espliciti di carattere
sessuale effettuati tramite i nuovi media digitali. Il video si incrocia con
il teatro diventando elemento fondamentale in scena, fungendo da
scenografi a, da scansione temporale degli eventi e da parte integrante
della narrazione.
</p>

<br><br>

<a class="red-button" href="/invitro">Play!</a>
