<img class="banner" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/banner_webulli_1618551552.jpg">

<div class="container">
	<div style="display: flex;">
		<div class="leftcol">
			<img src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Industria-Scenica_1618066389.jpg">
		</div>

		<div>
			<h2>WEBulli</h2>
			<a class="red-underline" href="/industria-scenica"><b>Industria Scenica</b></a>

			<br><br>
			Durata: 50m<br><br>

			<p>
			Anna ha 14 anni, fa le superiori in una cittadina alle porte di Milano.
			Ha una migliore amica, ha anche un ragazzo. È carina, è popolare.
			Un giorno si fa un video per il suo fi danzato. Ma quel video inizia a
			saltare da uno schermo all’altro.
			</p>

			<p>
			Il bullismo a scuola c’è sempre stato, come anche il bisogno di farsi
			notare. Ma come sono cambiati oggi questi fenomeni tra social network
			e nuove tecnologie? Oggi gli “schiaffi ” sono diventati intangibili, sono
			video pubblicati online, messaggi anonimi, foto rubate, false identità.
			Fisicamente fanno meno male, ma quanto feriscono nell’anima?
			</p>

			<p>
			WEBulli indaga i fenomeni di cyberbullismo e sexting, ossia gli atti
			di bullismo e molestia e lo scambio di contenuti espliciti di carattere
			sessuale effettuati tramite i nuovi media digitali. Il video si incrocia con
			il teatro diventando elemento fondamentale in scena, fungendo da
			scenografi a, da scansione temporale degli eventi e da parte integrante
			della narrazione.
			</p>

			<br>

			<a class="red-button" href="/invitro">Play!</a>

			<img class="locandina" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/locandina-Industria-Scenica_1618066389.jpg">

			<h2>Crediti</h2>
			<p>
				di Serena Facchini ed Ermanno Nardi<br>
				con Marzia Gallo ed Ermanno Nardi<br>
				supervisione drammaturgica e registica Renata Ciaravino<br>
				progetto video Elvio Longato<br>
				produzione Industria Scenica con il supporto produttivo di<br>
				&nbsp; Next Laboratorio delle Idee - Regione Lombardia<br>
				con il sostegno di<br>
				&nbsp; Ministero della Cultura, Fondazione della Comunità Bresciana, Fondazione ASM<br>
				con il patrocinio di Amnesty International Italia
			</p>
		</div>
	</div>

	<div style="text-align: center;">
		<h2>Immagini dal Palco</h2>
		<hr class="redhr">
		
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli1_1617787217.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli1_1617787217.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Webulli_backstage_01_1618322826.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/Webulli_backstage_01_1618322826.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli3_1617787235.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli3_1617787235.jpg">
		</a>
		<a target="_blank" href="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli4_1617787244.jpg">
			<img class="stageimage" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli4_1617787244.jpg">
		</a>
	</div>
	<div style="text-align: center;">
                <h2>Contenuti Extra</h2>
		<hr class="redhr">
	</div>
</div>
