{$kvs = $kvs|json_decode}
{assign var=num value=0}
{assign var=val value=0}
{assign var=cnn value=0}
{$user_id=Yii::app()->user->id}
{foreach from=$kvs item=data}
{$episode_image=$data->poster}
{$casts = $data->casts}

{if $data->content_types_id == 6}
{$audio_duration_full = $data->video_duration}
{$audio_duration = ":"|explode:$audio_duration_full}
<li class="clearfix">
<!--    <a class="track-cover audioEpisode" data-index="{$num++}" onclick="playAllAudio(this)" id="{$data->movie_id}" style="background-image:url({$episode_image});">-->
        <!--#Mantis : 18523 [SwetaM]-->
        <!--@ER: 19491 @info: publish content later @author: Pritam--> 
        {if $data->show_playbtn == 1}
        {$data->play_btn}
        <span>{$num}</span>
        <i class="fa fa-play"></i>
            {else}
            <span>{$num}</span>
            <i class="fa fa-play noplay"></i>            
        {/if}
        <!--@ER: 19491 ends-->

    </a>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h4>{if $this->add_to_favourite != 0}<a href="javascript:void(0);" data-login_status="{if $this->user_id} 1 {else} 0 {/if}" data-content_id="{$data->movie_stream_id}" data-content_type="1" class="c-white addtofav" data-fav_status="{if $data->is_fav_status == '1'}0{else}1{/if}"><i class="{if $data->is_fav_status == '1'} fa fa-heart {else} fa fa-heart-o {/if}"></i></a>{/if}
                &nbsp;{$data->content_title}  {if $data->show_playbtn == 0}&emsp; <b>- {$this->Language['coming_soon']|upper}</b> {/if}</h4> 
        </div>
        <div class="col-sm-6 col-xs-8">
            <p>{foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}{$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}</p>
        </div>
        <div class="col-sm-2 col-xs-4 text-center">
            <span class="track-duration">
                {if $audio_duration_full != ''}
                    {if $audio_duration[0]|intval > 0}
                        {$audio_duration_full}
                    {else}
                        {$audio_duration[1]}:{$audio_duration[2]} 
                    {/if}
                {else}
                00.00
                {/if}
            </span>
        </div>
    </div>
    {if $this->add_to_playlist != 0 || $this->add_to_queue != 0}
    <!--@ER : 19491 @info: publish content later @author: Pritam  -->
        {if $data->show_playbtn == 1}
    <span class="track-opts">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        <ul>
            {if $this->add_to_playlist != 0}<li><a href="javascript:void(0);" class="c-white addPlay" data-type="1" data-content_id="{$data->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$data->is_episode}">{$this->Language['add_to_playlist']}</a></li>{/if}    <!--#20401: Playlist and Queue Feature for REVO and Modern Template- R1-->
            {if $this->add_to_queue != 0}<li><a href="javascript:void(0);" class="c-white addToQue" data-id="{$data->movie_stream_id}"  data-is_episode="{$data->is_episode}">{$this->Language['add_to_queue']}</a></li>{/if}
        </ul>
    </span>
        {else}
        <span class="track-opts">
            <i class="fa fa-ellipsis-h" aria-hidden="true" style="color:grey"></i>
        </span>
    {/if}
    {/if}
</li>
{else}
{assign var=ccc value=$ccc+1}
<li class="col-md-3">
    <div class="item-wrap">
        <div class="item-cover">
            {if $data->title == "Far Finta di Essere Sani"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/sani_1617353980.jpg">
            {elseif $data->title == "Janis - Take Another Little Piece of My Heart"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/janis_1617353948.jpg">
            {elseif $data->title == "Nome di Battaglia LIA"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/lia_1618297805.jpg">
            {elseif $data->title == "Cyrano sulla Luna"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/cyrano_1617353939.jpg">
            {elseif $data->title == "Mary, una Sarta per Shakespeare"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/mary_1617353970.jpg">
            {elseif $data->title == "SN | 1604 Corpo Celeste"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/celeste_1617353927.jpg">
            {elseif $data->title == "WEBulli"}
                <img class="_cover" src="https://d2wk81qbuk09ji.cloudfront.net/65346/public/imagegallery/original/bulli_1617353917.jpg">
            {/if}
            {if $data->show_playbtn == 1}
            <div class="cover-overlay">
                {$data->play_btn}
                {if $this->add_to_favourite}
                <a data-login_status="{if $this->user_id} 1 {else} 0 {/if}" data-content_id="{$data->movie_stream_id}" data-content_type="1" class="addtofav"  data-fav_status="{if $data->is_fav_status == '1'}0{else}1{/if}"><i class="{if $data->is_fav_status == '1'}fa fa-heart{else}fa fa-heart-o{/if}"></i></a>
                {/if}
            </div>
            {else}
            <div class="cover-overlay"><a class="comingsoon">{$this->Language['coming_soon']}</a></div>
            {/if}
        </div>
        <div class="spacer_10"></div>
        <div class="item-info">
        {if $data->title == "Far Finta di Essere Sani"}
            <span class="content-title">{$data->title}</span><br>
            Teatro Menotti
        {elseif $data->title == "Janis - Take Another Little Piece of My Heart"}
            <span class="content-title">{$data->title}</span><br>
            Teatro del Buratto
        {elseif $data->title == "Nome di Battaglia LIA"}
            <span class="content-title">{$data->title}</span><br>
            Teatro della Cooperativa
        {elseif $data->title == "Cyrano sulla Luna"}
            <span class="content-title">{$data->title}</span><br>
            Manifatture Teatrali Milanesi
        {elseif $data->title == "Mary, una Sarta per Shakespeare"}
            <span class="content-title">{$data->title}</span><br>
            Teatro dell'Elfo
        {elseif $data->title == "SN | 1604 Corpo Celeste"}
            <span class="content-title">{$data->title}</span><br>
            Teatro Magro
        {elseif $data->title == "WEBulli"}
            <span class="content-title">{$data->title}</span><br>
            Industria Scenica
        {/if}
        </div>
        {if $this->add_to_video_playlist != 0 && $data->show_playbtn == 1} <!--@ER : 19491 @info: publish content later @author: Pritam  -->
        <div class="item-info item_playlist">
            <a href="javascript:void(0);" class="btn btn-primary addPlay" data-type="2" data-content_id="{$data->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$data->is_episode}">{$this->Language['add_to_playlist']}</a>
        </div>
        {/if}
        <div class="spacer_10"></div>
    </div>
</li>
{/if}
{/foreach}
<script type='text/javascript'>
$('.item-wrap').matchHeight();
$('.item-info').matchHeight();
$('.item_story').matchHeight();
$('.item_title').matchHeight();
</script>